%p
  An assessment has been received for one of your classes. Review the feedback for
  %em= @assessment.course.title
  = succeed "." do
    %a{:href => "http://#{"#{ROOT_URL}#{assessment_path(@assessment)}"}"} here
