%p
  An assessment has been received for one of your classes: 

= render :partial => 'shared/notification_course_info'}, :locals => { course: @assessment.course }

%p
  Review the feedback
  = succeed "." do
    %a{:href => "http://#{"#{site_url}#{assessment_path(@assessment)}"}"} here
