%p
  Please review the feedback for:
  
= render :partial => 'shared/notification_course_info', :locals => { course: @assessment.course }

= succeed "." do
  %a{:href => "http://#{"#{site_url}#{assessment_path(@assessment)}"}"} here
