%p
  Your class request has been successfully submitted for
  = succeed "." do
    %em= @course.title
%p
  You may review your request
  %a{:href => "http://#{ROOT_URL}#{course_path(@course)}"} here
  and update it with any new details or comments by leaving a note for staff.
- unless @course.repository.blank? || @course.repository.email_details.blank?
  %p
    You have requested a class at the #{@course.repository.name}, which has the following specific details and/or instructions:
  = @course.repository.email_details
%br/
%p Thank you for your request. We look forward to working with you.
