Thank you for submitting your request for a class session at #{@course.repo_name}. The request has been reviewed and confirmed.

= render :partial => 'shared/notification_course_info'}, :locals => { course: @course, test: @test  }

If you have any questions or additional details to share, please add a note to the class request:

- if @test
  (link to course)
- else
  #{"http://#{site_url}#{course_path(@course)}"}

- unless @pre_class.blank?
  %p= @pre_class
