.nested-fields.well.well-sm
  = f.inputs do
    - unless f.object.nil? || f.object.image.file.nil?
      = image_tag f.object.image.url(:thumb)
    = f.input :picture_id, :as => :hidden, :value => @repository.id 
    = f.input :picture_type, :as => :hidden, :value => @repository.class.to_s
    = f.input :image_cache, :as => :hidden
    = f.input :image, as: :file
    = f.input :featured, :as => :boolean, :value => f.object.featured?, hint: 'A featured image may be shown on the welcome page of this site.'
    = f.input :caption, :placholder => 'Caption'
    = link_to_remove_association 'Remove image', f
    %br
