<h3><%= @repository.name %></h3>

<%= form_tag new_course_path, :method => :get do %>
<p>
  <%= hidden_field_tag :repository, @repository.id %>
  <%= submit_tag "Request a class at this Library/Archive" %>
</p>
<% end %>

<div>
	Description: <%= raw @repository.description unless @repository.description.nil? %> <br />
	Class Limit: <%= @repository.class_limit unless @repository.class_limit.nil? %> <br />
	Technology Available: 
	<% unless @repository.item_attributes.nil? || @repository.item_attributes.empty? %>
	<ul>
	  <% @repository.item_attributes.each do |attribute| %>
	    <li><%= attribute.name %>  <%= "- #{ attribute.description }" unless attribute.description.blank? %></li>
	  <% end %>
	</ul>
	<% else %>
	  None.
	<% end %>
	<br />
	<% unless current_user.try(:patron?) %>
	  Available Rooms: 
	  <% unless @repository.rooms.nil? || @repository.rooms.empty? %> 
	  <ul>
	    <% @repository.rooms.each do |room| %>
	      <li><%= room.name %></li>
	    <% end %>
	  </ul>
	  <% else %>
	    None.
	  <% end %>
	  <br />
	<% end %>
	<br />  
	For more details on teaching at this Library/Archive <%= link_to "click here", @repository.landing_page, :target => "_blank" %>. <br /><br />
	
	<% unless @repository.class_policies.nil? || @repository.class_policies.blank? %>
	Class Policies:
	  <%= raw @repository.class_policies %> <br /><br />
	<% end %>  
	
	<% unless @repository.calendar.nil? || @repository.calendar.blank? %>
	  <%= link_to image_tag('calendar_icon.png')+"View Calendar", "#{@repository.calendar}", :onclick=>"window.open(this.href,'view_calendar', 'height=600, width=600');return false;" %>
	<% else %>
	  This Library/Archive does not have a publicly available calendar. Please submit your request with your preferred times and a staff member will get back to you.
	<% end %>
	
    <% if current_user.try(:admin?) %>
	<br /><br />
	  Staff Member(s) Assigned: 
	  <ul>
	  <% @repository.users.each do |user| %>
	    <li><%= user.first_name %> <%= user.last_name %></li>
	  <% end %>
	  </ul>
	  <br /><br />
	  <%= link_to('Edit', edit_repository_path(@repository), :class => "action-edit") %> | <%= link_to('Delete', repository_path(@repository), :confirm => "Are you sure?", :method => :delete) %>
    <% end %>
	<br />
</div>

<% unless current_user.try(:patron?) || !user_signed_in? %>
<div>
    <h4>Classes for This Library/Archive</h4>
      <% unless @repository.courses.nil? || @repository.courses.empty? %>
    	<table>
    	  <tr>
    		<th>Name</th>
    		<th>Class Date</th>
    		<th></th>
    	  </tr>
          <% @repository.courses.each do |course| %>	
          	<tr>
    	  	  <td><%= link_to(course.title, course ) %></td>
    		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
    		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %></td>
              <% if current_user.try(:admin?) %>
    	   		<td> | <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %></td>
        	  <% end %>
    	    </tr>
          <% end %>
    	</table>
      <% else %>
    	None yet!
      <% end %>
</div>	

<% end %>  
<br />
<p>Return <%= link_to "home", root_url %> to view another library/archive.</p>