<div class="form_wrapper">

<h4>Scheduling</h4>

<div class="form_full_width">
<h4>Date/Time of Class</h4>
<p>Please enter your preferred date and time for each session. If your only options for scheduling fall outside normal business hours, please use the note field to detail your availability.</p>
<p>Final scheduling of a session is subject to both room and staff availability.</p>
</div>

<div class="form_full_width">
<% if (@course.repository.nil? || @course.repository.blank?) || (@course.repository.calendar.nil? || @course.repository.calendar.blank?) %>
  <p>This Library/Archive does not have a publicly available calendar. Please submit your request with your preferred times and a staff member will get back to you.</p>
<% else %>
  <%= link_to image_tag('calendar_icon.png')+"View Calendar to see availability", "#{@course.repository.calendar}", :onclick=>"window.open(this.href,'view_calendar', 'height=600, width=600');return false;" %>
<% end %>
</div>
<% section_counter = 1 %>
<div class="form_full_width sessions">
  <% @course.sessions.each.with_index(1) do |sesh, i| %>
    <div id ="session-<%= i %>" class="session session-<%= i %>">
      <h4>Session <%= i %> <button class="btn btn-default delete_session">-</button></h4>
      <% sesh.each.with_index(1) do |sect, sect_i| %>
        <% name_prefix = "course[sections_attributes][#{section_counter}]" %>
        <% id_prefix = "course_sections_attributes_#{section_counter}" %>
        <div class="form_full_width section section-<%= section_counter %>">
          <h5>Section <%= sect_i %> <button class="btn btn-default delete_section" title="Delete Section">-</button></h5>
          <% if sect.id %>
            <%= f.input :id,
                        :as => :hidden,
                        :value => sect.id,
                        :input_html => {:id => "#{id_prefix}_id_input",
                                        :name => "#{name_prefix}[id]",
                                        :class => 'id_val'} %>
          <% end %>
          <% if sect.session %>
            <%= f.input :id,
                        :as => :hidden,
                        :value => sect.session,
                        :input_html => {:id => "#{id_prefix}_session_input",
                                        :name => "#{name_prefix}[session]",
                                        :class => 'session_val'} %>
          <% end %>
          <% (0..1).each do |rd_i| %>
            <div class="form_date">
              <%= f.input :requested_dates,
                          :as => :datetime_picker,
                          :label => "#{(rd_i+1).ordinalize} choice",
                          :wrapper_html => { :id => "#{id_prefix}_input"},
                          :size => 26,
                          :maxlength => 26,
                          :input_html => {:id => "#{id_prefix}_requested_dates_#{rd_i}",
                                          :name => "#{name_prefix}[requested_dates][]",
                                          :placeholder => "Click to select date/time",
                                          :value => display_with_tz(sect.requested_dates.try(:slice, rd_i))} %>
              <% if current_user.can_schedule? %>
                <button class="btn btn-default date-setter">Set as Actual Date</button>
              <% end %>
            </div> <!-- END form_date -->
          <% end %> <%# END (0..1).each %>
          <% if current_user.can_schedule? %>
            <div class="form_full_width yellow-box" style="clear:both;">
              <%= f.input :actual_date,
                          :as => :datetime_picker,
                          :label => "Actual Date",
                          :wrapper_html => {:id => "#{id_prefix}_actual_date_input"},
                          :input_html => {:id => "#{id_prefix}_actual_date",
                                          :name => "#{name_prefix}[actual_date]",
                                          :placeholder => "Click to select date/time",
                                          :class => 'actual-date',
                                          :value => display_with_tz(sect.actual_date)} %>
            </div>
          <% end %> <%# END if current_user.can_schedule? %>
        </div> <!-- END .section -->
        <% section_counter += 1 %>
      <% end %> <%# END sesh.each.with_index %>
      <button class="add_section btn btn-default">Add Section</button>
    </div><!--  END .session -->
  <% end %> <%# END @course.sessions.each.with_index %>
</div>

<div class="form_full_width">
  <button class="add_session btn btn-default">Add Session</button>
  <p>To request class visits outside of regular hours, please add your timing preferences in the note section below.</p>
  <%= f.input :duration, :label => "Class Duration (hours): ", :hint => '1 hour increments, maximum 3 hours', :input_html => { :size => 1, :maxlength => 4 } %>
</div>

<% if current_user.can_schedule? %>
  <div class="form_full_width yellow-box">
    <%= f.input :pre_class_appt, :label => "Actual Pre-Class Appointment Date/Time (if necessary): ", :as => :string, :input_html => { :size => 30, :value => @course.pre_class_appt.nil? ? nil : @course.pre_class_appt.strftime('%Y-%m-%d %I:%M %P'), :readonly => true, :placeholder => "Click to select date/time" } %>
    <%= check_box_tag :send_timeframe_email %> Check to send email notification of confirmed or changed class date/time and (if applicable) scheduled pre-class appointment to requester.<br /><br />
  </div>
<% end %>

<div id="form_full_width">
  <% unless @course.repository.nil? %>
    <br />
    <%= f.input :item_attributes, :as => :check_boxes, :collection => @course.repository.item_attributes, :label => "Room Technology Available: " %>
  <% end %>
  <br />
  <%= f.input :comments, :label => "If you have any special room arrangements or further instructions regarding your class session, please enter them below: ", :input_html => { :rows => 5, :cols => 30 } %>
</div>

<%# Room stuff goes... here? Needs redoing %>

<div class="form_full_width">
	<br />
	<p>Be sure to review your information and make any edits before submitting your request.</p>
	<p>Please note that some of the information you provide may be used to promote the variety of classes being offered at special collections libraries and archives at Harvard.</p>
</div>
</div>
