<div id="form_wrapper">
<h4>Staff Involvement</h4>
<div id="form_col1">
<%= f.input :staff_involvements, :label => "Please select or suggest ways our staff can be of assistance for this class: ", :as => :check_boxes, :collection => @course.repository.nil? ? Repository.find(:first, :conditions => ("name like '%Houghton%'")).staff_involvements : @course.repository.staff_involvements %>
<%= f.input :staff_involvement, :label => "Other Involvement: ", :input_html => { :rows => 5, :columns => 50 } %>
</div>
<% if current_user.try(:admin?) || current_user.try(:staff?) %>
  <div id="form_col2" class="yellow-box">	
	<% if @course.repository.nil? %>
	  <%= f.input :primary_contact_id, :as => :select, :collection => User.all_admins, :label => "Assign Primary Contact: " %>  
	  <%= f.input :users, :as => :check_boxes, :collection => User.all_admins, :label => "Assign Staff: " %>  
	<% else %>  
	  <%= f.input :primary_contact_id, :as => :select, :collection => @course.repository.users, :label => "Assign Primary Contact: " %>
      <%= f.input :users, :as => :check_boxes, :collection => @course.repository.users, :label => "Assign Staff: " %>
	<% end %>  
  </div>
<% end %>
</div>