<h3><%= link_to("Requester Information", "#", :id => 'view_section_2') %></h3>
<%= f.input :contact_name, :label => "Primary Contact Name: " %>
<%= f.input :contact_email, :label => "Primary Contact Email: " %>
<%= f.input :contact_phone, :label => "Primary Contact Phone: " %>

<%= link_to("Go Back", "#", :id => 'back_section_1') %> | <%= link_to("Next Section", "#", :id => 'next_section_2') %>