<h3><%= link_to("Class Information", "#", :id => 'view_section_1') %></h3>

<%= f.input :repository, :label => "Request a class session at: ", :include_blank => "Not Sure - Help me Choose", :input_html => { :value => @course.repository, :onchange => "change_repo_items(this.options[this.selectedIndex].value);" } %>

<%= f.input :title, :label => "Class Title: " %>
<%= f.input :subject, :label => "Class Subject: " %>
<%= f.input :course_number, :label => "Class Number (if Harvard): " %>
<%= f.input :affiliation, :label => "Affiliation (if non-Harvard): " %>

Syllabus: <br />
<ul>
  <li><%= f.input :file, :label => "Upload File: " %></li>
  <li><%= f.input :external_syllabus, :label => "Enter URL: " %></li>
</ul>

<%= f.input :number_of_students, :label => "Number of Students: " %>
<span>Maximum class limit is <%= @course.repository.class_limit unless @course.repository.nil? %>.</span>
<br /><br />
<%= f.input :instruction_session, :label => "Have you scheduled a general library research instruction session for the class? ", :input_html => { :size => 40 } %>

<%= f.input :goal, :label => "What is your goal for this class session? ", :input_html => { :rows => 5, :columns => 50 } %>
