<h3><%= link_to("Course Information", "#", :id => 'view_section_1') %></h3>

<%= f.input :repository, :label => "Repository: ", :input_html => { :value => @course.repository, :onchange => "change_repo_items(this.options[this.selectedIndex].value);" } %>

<%= f.input :title, :label => "Course Title: " %>
<%= f.input :subject, :label => "Course Subject: " %>
<%= f.input :course_number, :label => "Course Number (if Harvard): " %>
<%= f.input :affiliation, :label => "Affiliation (if non-Harvard): " %>
<%= f.input :number_of_students, :label => "Number of Students: ", :hint => "Limit for this Repository is listed on the right." %>

Syllabus: <br />
<ul>
  <li><%= f.input :file, :label => "Upload File: " %></li>
  <li><%= f.input :external_syllabus, :label => "Enter URL: " %></li>
</ul>

<%= f.input :goal, :label => "What is your goal for this class session? ", :input_html => { :rows => 5, :columns => 50 } %>

<%= link_to("Next Section", "#", :id => 'next_section_1') %>