<div class="form_wrapper">
<h4>Class Information</h4>
<div class="form_col1">
<%= f.input :title, :label => "Class Title: " %>
</div>
<div class="form_col2">
<%= f.input :subject, :label => "Class Topic: " %>
</div>
<div class="form_col1">
<%= f.input :course_number, :label => "Course Number: " %>
</div>
<div class="form_col2">
<%= f.input :affiliation, :label => "Academic institution or group affiliation: " %>
</div>
<div class="form_full_width">
<% unless @course.file.blank? %>
  <%= link_to "Current Syllabus", @course.file_url %><br />
  <%= f.input :remove_file, :as => :boolean, :label => "Delete Current Syllabus? " %>
<% end %>
<label class="control-label" for="course_file">Share Your Syllabus (Optional)</label>
<span class="help-block">Providing your syllabus helps staff to tailor suggestions for teaching and to identify class themes most richly supported by the collections.</span>
</div>
<div class="form_full_width">
<%= f.input :file, :as => :file, :label => "&nbsp; " %>
</div><div class="form_full_width">
<div style="padding-left:5em; font-weight:bold; font-size: 1.2em;">OR</div>
<%= f.input :external_syllabus, :label => "Enter URL: ", :input_html => { :value => @course.external_syllabus.nil? ? "http://" : @course.external_syllabus } %>
</div>
<div class="form_col1">
<%= f.input :number_of_students, :as => :number, :min => 0, :step => 1, :label => "Number of Students: ", :hint => !@course.repository.nil? && !@course.repository.class_limit.nil? && @course.repository.class_limit != 0 ? "Room capacity is #{@course.repository.class_limit unless @course.repository.nil?}. Larger groups can often be accommodated. Staff will be in touch with options." : "" %>
</div>
<div class="form_full_width">
<%= f.input :goal, :label => "What is your goal for this class session? ", :input_html => { :rows => 5, :columns => 100 } %>
</div>
</div>
