<% if current_user.try(:admin?) || current_user.try(:staff?) %>
  <h3>Staff Actions</h3>

  <% unless @course.repository.calendar.nil? && @course.repository.calendar.blank? %>
    <%= link_to 'View Calendar', "#{@course.repository.calendar}", :onclick=>"window.open(this.href,'view_calendar', 'height=600, width=600');return false;" %>
  <% else %>
    This Library/Archive does not have a publicly available calendar. Please submit your request with your preferred times and a staff member will get back to you.
  <% end %>
  <br /><br />
  <div id="yellow-box">
  <h4>Requester Choices</h4>
  <% if !@course.time_choice_1.nil? || !@course.time_choice_2.nil? || !@course.time_choice_3.nil? %>
	Choice 1: <%= @course.time_choice_1.strftime('%m/%d/%Y %I:%M %P') unless @course.time_choice_1.nil? %> <br />
	Choice 2: <%= @course.time_choice_2.strftime('%m/%d/%Y %I:%M %P') unless @course.time_choice_2.nil? %> <br />
	Choice 2: <%= @course.time_choice_3.strftime('%m/%d/%Y %I:%M %P') unless @course.time_choice_3.nil? %> <br />
  <% else %>
	No course dates selected.<br />
  <% end %>
  </div>
  <br /> 
  <%= f.input :timeframe, :label => "Actual Date/Time of Class: ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30, :value => @course.timeframe.nil? ? '' : @course.timeframe.strftime('%m/%d/%Y %I:%M %P') } %>

  <%= check_box_tag :send_timeframe_email%> Send class date/time change email to requester?<br /><br />

  <%= f.input :pre_class_appt, :label => "Actual Pre-Class Appointment Date/Time (if necessary): ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30 } %>

  <%= f.input :room, :as => :select, :collection => Room.all, :label => "Room: " %>

  <%= f.input :status, :label => "Status: ", :as => :select, :collection => Course::STATUS %>

  <% if current_user.admin? %>
    <%= f.input :users, :as => :check_boxes, :collection => User.all, :label => "Assign Staff: " %>
  <% elsif !@course.repository.nil? %>
    <%= f.input :users, :as => :check_boxes, :collection => @course.repository.users, :label => "Assign Staff: " %>
  <% end %>

  <br />

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => 'Update Request ' %>
  <% end %>
<% end %>