<div id="form_wrapper">
<h3><%= link_to("Class Information", "#", :id => 'view_section_1') %></h3>
<div id="form_col1">
<%= f.input :title, :label => "Class Title: " %>
</div>
<div id="form_col2">
<%= f.input :subject, :label => "Class Subject: " %>
</div>
<div id="form_col1">
<%= f.input :course_number, :label => "Class Number (if Harvard): " %>
</div>
<div id="form_col2">
<%= f.input :affiliation, :label => "Affiliation (if non-Harvard): " %>
</div>
<div id="form_col1">
<%= f.input :file, :label => "Syllabus (Upload File): " %>
</div>
<div id="form_col2">
<%= f.input :external_syllabus, :label => "OR Syllabus (Enter URL): " %>
</div>
<div id="form_col1">
<%= f.input :number_of_students, :label => "Number of Students: ", :hint => "Maximum class limit is #{@course.repository.class_limit unless @course.repository.nil?}" %>
</div>
<div id="form_full_width">
<%= f.input :instruction_session, :label => "Have you scheduled a general library research instruction session for the class? ", :input_html => { :size => 40 } %>
</div>
<div id="form_full_width">
<%= f.input :goal, :label => "What is your goal for this class session? ", :input_html => { :rows => 5, :columns => 50 } %>
</div>
</div>