<h3><%= link_to("Requester Information", "#", :id => 'view_section_2') %></h3>
<%= f.input :contact_username, :as => :hidden %>
<%= f.input :contact_first_name, :label => "Primary Contact First Name: ", :input_html => { :value => current_user.first_name } %>
<%= f.input :contact_last_name, :label => "Primary Contact Last Name: ", :input_html => { :value => current_user.last_name } %>
<%= f.input :contact_phone, :label => "Primary Contact Phone: " %>
<%= f.input :contact_email, :label => "Primary Contact Email: ", :input_html => { :value => current_user.email } %>