<% if user_signed_in? %>
  <h3><%= link_to("Staff Actions", "#", :id => 'view_section_5') %></h3>
  <%= f.input :timeframe, :label => "Actual Date/Time of Course: ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30, :value => @course.timeframe.nil? ? '' : @course.timeframe.strftime('%m/%d/%Y %I:%M %P') } %>

  <%= f.input :pre_class_appt, :label => "Actual Pre-Class Appointment Date/Time (if necessary): ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30 } %>

  <%= f.input :room, :as => :select, :collection => Room.all, :label => "Room: " %>

  <%= f.input :status, :label => "Status: ", :as => :select, :collection => Course::STATUS %>
  <%= check_box_tag :send_email%> Send status change email to requester?<br /><br />

  <% if current_user.admin? %>
    <%= f.input :users, :as => :check_boxes, :collection => User.all, :label => "Assign Staff: " %>
  <% elsif !@course.repository.nil? %>
    <%= f.input :users, :as => :check_boxes, :collection => @course.repository.users, :label => "Assign Staff: " %>
  <% end %>

<br />
<%= link_to("Go Back", "#", :id => 'back_section_4') %>

<%= f.actions do %>
  <%= f.action :submit, :as => :button, :label => 'Update Request ' %>
<% end %>
<% end %>