<div id="form_wrapper">

<h3>Scheduling</h3>

<div id="form_full_width">
<%= f.input :course_sessions, :label => "Select One", :as => :radio, :collection => Course::COURSE_SESSIONS %>
<%= f.input :session_count, :label => "Number of Sessions: ", :input_html => { :size => 1, :maxlength => 1 }, :hint => 'If more than four sessions, please indicate in a note below your request for a multi-session or reoccurring class (e.g. Wednesdays 2-4pm).' %>
</div>

<div id="form_full_width">
<h4>Date/Time of Class</h4>
<span id="multiple">Please enter your preferred date and time for each session. Second choices and back-up times/days may be indicated in the notes field below. If your only options for scheduling fall outside normal business hours, please use the note field to detail your availability.</span>
<span id="single">Please select up to 3 dates/times for your session.</span>
<br /><br />
Final scheduling of a session is subject to both room and staff availability.
</div>

<div id="form_full_width">
<% if (@course.repository.nil? || @course.repository.blank?) || (@course.repository.calendar.nil? || @course.repository.calendar.blank?) %>
  This Library/Archive does not have a publicly available calendar. Please submit your request with your preferred times and a staff member will get back to you.
<% else %>
  <%= link_to 'View Calendar to see availability', "#{@course.repository.calendar}", :onclick=>"window.open(this.href,'view_calendar', 'height=600, width=600');return false;" %>
<% end %>
</div>

<div id="form_date1">
<%= f.input :time_choice_1, :label => "Choice 1: ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30, :value => @course.time_choice_1.nil? ? '' : @course.time_choice_1.strftime('%m/%d/%Y %I:%M %P') } %>
</div>
<div id="form_date1">
<%= f.input :time_choice_2, :label => "Choice 2: ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30, :value => @course.time_choice_2.nil? ? '' : @course.time_choice_2.strftime('%m/%d/%Y %I:%M %P') } %>
</div>
<div id="form_date1">
<%= f.input :time_choice_3, :label => "Choice 3: ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30, :value => @course.time_choice_3.nil? ? '' : @course.time_choice_3.strftime('%m/%d/%Y %I:%M %P') } %>
</div>
<div id="form_date1">
<%= f.input :time_choice_4, :label => "Choice 4: ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30, :value => @course.time_choice_3.nil? ? '' : @course.time_choice_3.strftime('%m/%d/%Y %I:%M %P') } %>
</div>
<div id="form_full_width">
<p>To request class visits outside of regular hours, please add your timing preferences in the note section below.</p>	
<%= f.input :duration, :label => "Class Duration (hours): ", :hint => '1 hour increments, maximum 3 hours', :input_html => { :size => 1, :maxlength => 4 } %>
</div>

<% if current_user.try(:admin?) || current_user.try(:staff?) %>
<div id="form_full_width" class="yellow-box">
<%= f.input :timeframe, :label => "Actual Date/Time of Class: ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30, :value => @course.timeframe.nil? ? '' : @course.timeframe.strftime('%m/%d/%Y %I:%M %P') } %>

<%= check_box_tag :send_timeframe_email%> Send class date/time change email to requester?<br /><br />

<%= f.input :pre_class_appt, :label => "Actual Pre-Class Appointment Date/Time (if necessary): ", :as => :string, :hint => 'In MM/DD/YYYY HH:MM am/pm format', :input_html => { :size => 30 } %>
</div>	
<% end %>

<div id="form_full_width">
<% unless @course.repository.nil? %>
  <br />
  <%= f.input :item_attributes, :as => :check_boxes, :collection => @course.repository.item_attributes, :label => "Room Technology Availble: " %>
<% end %>
<br />
<%= f.input :comments, :label => "If you have any special room arrangements or further instructions regarding your class session, please enter them below: ", :input_html => { :rows => 5, :cols => 30 } %>
</div>
<% if current_user.try(:admin?) || current_user.try(:staff?) %>
<div id="form_full_width" class="yellow-box">
<%= f.input :room, :as => :select, :collection => Room.all, :label => "Room: " %>
<%= f.input :status, :label => "Status: ", :as => :select, :collection => Course::STATUS %>	
</div>
<% end %>
</div>