<%# LOCALS: session_i, section_index, admin %>
<div class="form_full_width section section-<%= section_index %>" data-section_index="<%= section_index %>">
  <input type="hidden" name="course[sections_attributes][<%= section_index %>][session]" class="session_val" value="<%= session_i %>">
  <% (0..1).each do |i| %>
    <div class="form_date">
      <div id="course_sections_attributes_<%= section_index %>_input"
           class="string input optional stringish form-group">
        <label for="course_sections_attributes_<%= section_index %>_requested_dates_<%= i %>"
               class="control-label"><%= (i + 1).ordinalize %> choice</label>
        <span class="form-wrapper">
          <input type="text"
                 size="26" placeholder="Click to select date/time" maxlength="26"
                 name="course[sections_attributes][<%= section_index %>][requested_dates][]"
                 id="course_sections_attributes_<%= section_index %>_requested_dates_<%= i %>"
                 class="date requested_date form-control">
        </span>
      </div>
      <% if admin %>
        <button class="btn btn-primary date-setter">Set as Actual Date</button>
      <% end %>
    </div> <!-- END form_date -->
  <% end %>
  <div class="delete-button">
    <button class="btn btn-primary delete_section glyphicon glyphicon-minus"></button>
  </div>
  <% if admin %>
    <div style="clear:both;" class="form_full_width admin-box">
      <div id="course_sections_attributes_<%= section_index %>_actual_date_input"
           class="string input optional stringish form-group">
        <label for="course_sections_attributes_<%= section_index %>_actual_date"
               class="control-label">Actual Date</label>
        <span class="form-wrapper">
          <input type="text"
                 size="26" placeholder="Click to select date/time" maxlength="26"
                 name="course[sections_attributes][<%= section_index %>][actual_date]"
                 id="course_sections_attributes_<%= section_index %>_actual_date"
                 class="date actual-date form-control">
        </span>
      </div>

      <div id="course_sections_attributes_<%= section_index %>_headcount_input"
           class="number input optional numeric stringish form-group">
        <label for="course_sections_attributes_<%= section_index %>_headcount"
               class="  control-label">Headcount</label>
        <span class="form-wrapper">
          <input type="number"
                 step="1" min="0"
                 name="course[sections_attributes][<%= section_index %>][headcount]"
                 id="course_sections_attributes_<%= section_index %>_headcount"
                 class="form-control">
          <span class="help-block">Actual number of students that attended.</span>
        </span>
      </div>
      <div id="course_sections_attributes_<%= section_index %>_room_input" class="select input optional form-group">
        <label class="control-label" for="course_sections_attributes_<%= section_index %>_room_id">Room Assignment:</label>
        <%= select_tag :room_id,
                       option_groups_from_collection_for_select(
                         Repository.order(:name),
                         :rooms,
                         :name,
                         :id,
                         :name),
                       :class => 'form-control',
                       :include_blank => true,
                       :id => "course_sections_attributes_#{section_index}_room_id",
                       :name => "course[sections_attributes][#{section_index}][room_id]" %>
        <span class="help-block">Room that section is scheduled in.</span>
      </div>
    </div>
  <% end %>
</div> <!-- END .section -->
