<%# LOCALS: index, section_index, admin %>
<div id="session-<%= index %>" class="session session-<%= index %> form_full_width">
  <h4>Session <%= index %> <button class="btn btn-default delete_session">-</button></h4>
  <div class="form_full_width section section-<%= section_index %>">
    <h5>Section 1 <button class="btn btn-default delete_section">Delete</button></h5>
    <input type="hidden" name="course[sections_attributes][<%= section_index %>][session]" class="session_val" value="<%= index %>">
    <% (0..1).each do |i| %>
      <div class="form_date">
        <div id="course_sections_attributes_<%= section_index %>_input"
             class="string input optional stringish form-group">
          <label for="course_sections_attributes_<%= section_index %>_requested_dates_<%= i %>"
                 class="control-label"><%= (i + 1).ordinalize %> choice</label>
          <span class="form-wrapper">
            <input type="text"
                   size="26" placeholder="Click to select date/time" maxlength="26"
                   name="course[sections_attributes][<%= section_index %>][requested_dates][]"
                   id="course_sections_attributes_<%= section_index %>_requested_dates_<%= i %>"
                   class="date requested_date form-control">
          </span>
        </div>
        <% if admin %>
          <button class="btn btn-default date-setter">Set as Actual Date</button>
        <% end %>
      </div> <!-- END form_date -->
    <% end %>
    <% if admin %>
      <div style="clear:both;" class="form_full_width yellow-box">
        <div id="course_sections_attributes_<%= section_index %>_actual_date_input"
             class="string input optional stringish form-group">
          <label for="course_sections_attributes_<%= section_index %>_actual_date"
                 class="control-label">Actual Date</label>
          <span class="form-wrapper">
            <input type="text"
                   size="26" placeholder="Click to select date/time" maxlength="26"
                   name="course[sections_attributes][<%= section_index %>][actual_date]"
                   id="course_sections_attributes_<%= section_index %>_actual_date"
                   class="date actual-date form-control">
          </span>
        </div>

        <div id="course_sections_attributes_<%= section_index %>_headcount_input"
             class="number input optional numeric stringish form-group">
          <label for="course_sections_attributes_<%= section_index %>_headcount"
                 class="  control-label">Headcount</label>
          <span class="form-wrapper">
            <input type="number"
                   step="1" min="0"
                   name="course[sections_attributes][<%= section_index %>][headcount]"
                   id="course_sections_attributes_<%= section_index %>_headcount"
                   class="form-control">
            <span class="help-block">Actual number of students that attended.</span>
          </span>
        </div>


        <%= select_tag :room_id,
                       option_groups_from_collection_for_select(
                         Repository.order(:name),
                         :rooms,
                         :name,
                         :id,
                         :name),
                       :include_blank => true,
                       :id => "course_sections_attributes_#{section_index}_room_id",
                       :name => "course[sections_attributes][#{section_index}][room_id]" %>

      </div>
    <% end %>
  </div> <!-- END .section -->
  <button class="add_section btn btn-default">Add Section</button>
</div> <!-- END .session -->
