- sesh = [Section.new] if sesh.nil?
%div{:class => "session session-#{session_index} col-xs-12", "data-session_index" => session_index, :id => "session-#{session_index}"}
  .panel.panel-primary
    .panel-heading
      %h4= "Session #{session_index}"
    .panel-body
      %h5{:class => "section-header #{sesh.count <= 1 ? 'hidden' : ''}"} Sections
      = render :partial => 'shared/forms/section_block2', :locals => { :sesh => sesh, :session_index => session_index }       
      .add_section-button-block
        %button.add_section.btn.btn-primary Add A Section
        %span.help-block Sections are subgroups of a class that will meet at different times but consult the same materials.
