<%= semantic_form_for(@user) do |f| %>
  <%= f.inputs do %>
	<% if current_user.try(:admin?) %>
	  <%= f.input :email, :input_html => { :size => 30 } %>
	<% end %>
	<%= f.input :repositories, :as => :check_boxes, :label => "Associated Libraries/Archives: " %>
	<% unless @user == current_user %>
	  <span id='admin_box'><%= f.input :admin, :label => "Is Admin? " %></span>
	<% end %>
  <% end %>
  <%= f.actions %>
<% end %>
