<%= semantic_form_for(@user) do |f| %>
  <%= f.inputs do %>
	<% if current_user.try(:admin?) %>
	  <%= f.input :first_name, :input_html => { :size => 30 } %>
	  <%= f.input :last_name, :input_html => { :size => 30 } %>
	  <%= f.input :email, :input_html => { :size => 30 } %>
	<% end %>
	<%= f.input :repositories, :as => :check_boxes, :label => "Associated Libraries/Archives: " %>
	<% if @user != current_user || @user.admin? %>
	  <span id='admin_box'>
		  <%= f.input :admin, :label => "Is Admin? " %> 
		  <%= f.input :staff, :label => "Is Staff? " %>
		  <%= f.input :patron, :label => "Is Patron? " %>
	  </span>
	<% end %>
  <% end %>
  <%= f.actions %>
<% end %>
