<h2>Resend unlock instructions</h2>
<%= semantic_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :email, hint:"Enter your email address" %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button :button_html => {:class => "primary", :value => "Resend unlock instructions"} %>
  <% end %>
<% end %>
<%= render :partial => "devise/shared/links" %>
