<%= semantic_form_for(@user) do |f| %>
  <%= f.inputs do %>
	<% if current_user.admin? %>
	  <%= f.input :email, :input_html => { :size => 30 } %>
	<% end %>
	<% unless @user == current_user %>
	  <span id='admin_box'><%= f.input :admin %></span>
	<% end %>
  <% end %>
  <%= f.actions %>
<% end %>
