<h3>Users</h3>

<div>
  	<table id="users-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Username</th>
		<th>Email</th>
		<th>Admin?</th>
		<th>Staff?</th>
		<th>Patron?</th>
	  <% if current_user.try(:admin?) %>
	  <th>Actions</th>
  	  <% end %>
	  </tr>
	</thead> 
	<tbody>
	    <% @users.each do |user| %>	
	    <tr>
		  <td><%= user.first_name %></td>
		  <td><%= user.last_name %></td>
		  <td><%= link_to(user.username, user ) %></td>
	  	  <td><%= user.email %></td>
		  <td><%= user.admin ? "Yes" : "No" %></td>
		  <td><%= user.staff ? "Yes" : "No" %></td>
		  <td><%= user.patron ? "Yes" : "No" %></td> 
		  <% if current_user.try(:admin?) %>
		    <td><%= link_to('Edit', edit_user_path(user), :class => "action-edit") %> | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %></td>
	  	  <% end %>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<br />
	<%= render :partial => '/shared/tablesorter_pager' %>
	<br />
	<br />
</div>
