%h3 Users
%div
  %table#users-table.table.table-striped.table-condensed.tablesorter
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Username
        %th Email
        %th Superadmin?
        %th Admin?
        %th Staff?
        %th Patron?
        - if current_user.can_admin?
          %th Actions
        - else
          %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= link_to(user.username, user )
          %td= user.email
          %td= user.superadmin ? "Yes" : "No"
          %td= user.admin ? "Yes" : "No"
          %td= user.staff ? "Yes" : "No"
          %td= user.patron ? "Yes" : "No"
          %td
            - if current_user.can_admin?
              = link_to('Edit', edit_user_path(user), :class => "action-edit")
            - if current_user.superadmin?
              | #{link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete)}
  %br/
  = render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "users-table" }
  %br/
  %br/
