<h3>Users</h3>

<div>
  	<table id="users-table" class="table table-striped table-condensed tablesorter">
	<thead>
	  <tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Username</th>
		<th>Email</th>
		<th>Superadmin?</th>
		<th>Admin?</th>
		<th>Staff?</th>
		<th>Patron?</th>
	  <% if current_user.can_admin? %>
	    <th>Actions</th>
	  <% else %>
	    <th></th>
  	<% end %>
	  </tr>
	</thead>
	<tbody>
	    <% @users.each do |user| %>
	    <tr>
		  <td><%= user.first_name %></td>
		  <td><%= user.last_name %></td>
		  <td><%= link_to(user.username, user ) %></td>
	  	<td><%= user.email %></td>
		  <td><%= user.superadmin ? "Yes" : "No" %></td>
		  <td><%= user.admin ? "Yes" : "No" %></td>
		  <td><%= user.staff ? "Yes" : "No" %></td>
		  <td><%= user.patron ? "Yes" : "No" %></td>
		  <td>
        <% if current_user.can_admin? %>
          <%= link_to('Edit', edit_user_path(user), :class => "action-edit") %>
        <% end %>
        <% if current_user.superadmin? %>
          | <%= link_to('Delete', user_path(user), :confirm => "Are you sure?", :method => :delete) %>
        <% end %>
      </td>
	    </tr>
	    <% end %>
	</tbody>
	</table>
	<br />
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "users-table" } %>
	<br />
	<br />
</div>
