%h3
  = @user.first_name
  = @user.last_name
= @user.pinuser? ? "Pin users use HUID, which is hidden" : @user.username
%br/
= @user.email
%br/
- if @user.admin?
  Is Admin.
- if current_user && current_user.can_admin?
  %ul.actions
    %li= link_to('Edit', edit_user_path(@user), :class => "action-edit")
    - if current_user.superadmin?
      %li= link_to('Delete', user_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete)
