<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<%= @user.email %><br />
<% if @user.admin? %>
	Is Admin.
<% end %>
<% if current_user.try(:admin?) %>
  <ul class="actions">
    <li><%= link_to('Edit', edit_user_path(@user), :class => "action-edit") %></li>
    <% unless @user == current_user %>
      <li><%= link_to('Delete', user_path(@user), :confirm => "Are you sure?", :method => :delete) %></li>
    <% end %>
  </ul>
<% end %>