.btn-group.course-actions{ :style => "width: 150px" }
  - if course.status == 'Cancelled'
    = link_to 'Uncancel', "#{course_path(course)}/uncancel", :class => 'btn btn-xs btn-warning', :confirm => "Are you sure? This well reset the course to its last known status."
  - else
    = link_to 'Edit', edit_course_path(course), :class => "action-edit", :class => 'btn btn-xs btn-info'
    = link_to 'Cancel', "#{course_path(course)}/cancel", :class => 'btn btn-xs btn-warning', :confirm => "Are you sure?"
  - if current_user.superadmin?
    = link_to 'Delete', course_path(course), :method => :delete, :class => 'btn btn-xs btn-danger', :confirm => "Are you sure?", :method => :delete
