.dash_widget
  %h4= title
  - unless courses.blank?
    %table.table.table-striped.table-condensed.tablesorter{:id => id}
      %thead
        %tr
          %th Name
          %th Submission Date
          %th Class Date
          %th
          %th.hidden Search fodder
      %tbody
        - courses.each do |course|
          %tr
            %td= link_to(course.title, course )
            %td= course.created_at.strftime('%m/%d/%Y')
            = render :partial => '/shared/course_sections_td', :locals => {:course => course }
            / <td><haml:loud> course.sections.first.try(:actual_date).try(:strftime, &amp;#39;%m/%d/%Y %I:%M %P&amp;#39;) unless course.sections.first.try(:actual_date).nil? </haml:loud></td>
            %td
              = render :partial => 'shared/course_actions', :locals => { :course => course }
            %td.hidden= searchable_fields(course)
    = render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "#{id}" }
  - else
    None yet.
