<%= link_to "Class Request Tool", root_path, :class => 'brand' %>
<ul class="nav">
	<li><%= link_to "Home", root_path %></li>
  <% if current_user.try(:admin?) %>
    <li><%= link_to "Dashboard", dashboard_welcome_index_url %></li>
	<li><%= link_to "Courses", courses_path %></li>
	<li><%= link_to "Repositories", repositories_path %></li>
	<li><%= link_to "Rooms", rooms_path %></li>
	<li><%= link_to "Attributes", item_attributes_path %></li>
	<li><%= link_to "Staff Involvements", staff_involvements_path %></li>
	<li><%= link_to "Users", users_path %></li>
	<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
  <% elsif user_signed_in? %>
    <li><%= link_to "Dashboard", dashboard_welcome_index_url %></li>
	<li><%= link_to "Courses", courses_path %></li>
	<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
  <% else %>
	<li><%= link_to "Sign In", new_user_session_path %></li>
  <% end %>
</ul>
