#main-nav.navbar-collapse.collapse
  %ul.nav.navbar-nav{:role => "navigation"}
    %li= link_to "Home", root_path
    - if current_user && current_user.can_schedule?
      %li= link_to "Dashboard", dashboard_welcome_index_path
      %li= link_to "Classes", courses_path
      - if current_user && current_user.can_admin?
        %li.dropdown
          %a#drop1.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
            Admin Area
            %b.caret
          %ul.dropdown-menu{"aria-labelledby" => "drop1", :role => "menu"}
            %li= link_to "Reporting", admin_reports_path
            %li= link_to "Libraries/Archives", repositories_path
            %li= link_to "Rooms", rooms_path
            %li= link_to "Technology", item_attributes_path
            %li= link_to "Staff Services", staff_services_path
            %li= link_to "Assessments", assessments_path
            %li= link_to "Users", users_path
            %li
              = link_to "Notification Previews", admin_notifications_path
            - if current_user.superadmin?
              %li
                = link_to "Superadmin Dashboard", admin_dashboard_path
                = link_to "Custom Text", admin_custom_texts_path
        %li= link_to "Edit Account", edit_user_registration_path
      - elsif current_user && current_user.staff?
        %li= link_to "Users", users_path
    - elsif current_user && current_user.patron?
      %li= link_to "Request a Class", courses_path
      %li= link_to "My Classes", courses_path
    - if current_user && (current_user.patron? || current_user.staff)
      %li= link_to "Edit Account", edit_user_registration_path
  %ul.nav.navbar-nav.navbar-right
    %li.navbar-link
      %a{:href => "https://docs.google.com/forms/d/1sXRDtvBth1uVKddiHKQ7Psgu2vZeEOFIG08pKYn5ilU/viewform", :target => "_blank"} Questions/Feedback
