%p
  Title:
  %a{:href => "http://#{ROOT_URL}#{course_path(@course)}"}
    %em= @course.title
  %br/
  Library/Archive: #{@course.repo_name}
  %br/
  Subject: #{@course.subject}
  %br/
  Course Number: #{@course.course_number}
  %br/
  Affiliation: #{@course.affiliation}
  %br/
  Number of Students: #{@course.number_of_students}
  %br/
  - unless @course.external_syllabus == 'http://'
    Syllabus: #{@course.external_syllabus}
    %br/
