- if @test
  Test: Course Title
  Requester: Test Tester
  Library/Archive: Test
  Subject: Test
  Course Number: Test
  Affiliation: Test
  Number of Students: Test  
- else
  Title: #{course.title} (#{"http://#{site_url}#{course_path(course)}"})
  Requester: #{course.contact_first_name} #{course.contact_last_name}
    - unless course.additional_patrons.blank?
      Additional Contacts:
        - course.additional_patrons.each do |ap|
           #{ap.full_name}, #{ap.email} (#{ap.role})

  Library/Archive: #{course.repo_name}
  Subject: #{course.subject}
  course Number: #{course.course_number}
  Affiliation: #{course.affiliation}
  Number of Students: #{course.number_of_students}
  Syllabus: #{course.external_syllabus}


