.pager{:id => "pager-#{pager_id}", :style => "padding-bottom: none;"}
  = form_tag do
    = image_tag "pager/first.png", :class => "first"
    = image_tag "pager/prev.png", :class => "prev"
    %span.pagedisplay
    = image_tag "pager/next.png", :class => "next"
    = image_tag "pager/last.png", :class => "last"
    Per page:
    = pager_options_select(pager_id)
