.user-account
  .container
    - if current_user
      Logged in as #{"#{current_user.first_name} #{current_user.last_name}"}
      - if current_user.pinuser?
        = link_to "Sign Out", user_hauthproxy_sign_out_path, :class => 'btn btn-primary btn-xs', :method => :delete
      - else
        = link_to "Sign Out", destroy_user_session_path, :class => 'btn btn-primary btn-xs', :method => :delete
    - else
      Guest session
      \#{link_to "Sign In/Sign Up", new_user_session_path, :class => 'btn btn-primary btn-xs'}
      - if ENV.key?('AUTHEN_APPLICATION')
        \#{link_to "Sign In/Sign Up with Harvard PIN", user_hauthproxy_sign_in_path, :class => 'btn btn-primary btn-xs'}
