<script src="js/jquery/jquery.tablesorter.min.js"></script>
<script >
  $(function() {
    $("table#sortTableExample").tablesorter({ sortList: [[1,0]] });
  });
</script>


<h1>Dashboard</h1>

<div id="left">
<h3>Your Repositories</h3>
  <% unless current_user.repositories.nil? || current_user.repositories.empty? %>
	<table id="your-repos-table" class="table table-condensed tablesorter">
	  <thead>
	  <tr>
		<th>Name</th>
		<th></th>
	  </tr>
	  </thead>
	  <tbody>	
      <% current_user.repositories.each do |repo| %>	
        <tr>
	  	  <td><%= link_to(repo.name, repo ) %></td>
          <% if current_user.try(:admin?) %>
	        <td><%= link_to('Edit', edit_repository_path(repo), :class => "action-edit") %><br /><%= link_to('Delete', repository_path(repo), :confirm => "Are you sure?", :method => :delete) %></td>
          <% end %>
	  	</tr>
      <% end %>
	  </tbody>
    </table>
  <% else %>
	None yet!
  <% end %>

<h3>Your Upcoming Courses</h3>
  <% unless current_user.upcoming_courses.nil? || current_user.upcoming_courses.empty? %>	
    <table id="your-upcoming-table" class="table table-condensed tablesorter">
	  <thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Course Date</th>
		<th></th>
	  </tr>
	  </thead>
	  <tbody>
    <% current_user.upcoming_courses.each do |course| %>	
      	<tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
	   		 <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
      	  <% end %>
		  </td>
	    </tr>
    <% end %>
	  </tbody>
	</table>
  <% else %>
	None yet!
  <% end %>
  
  <h3>Your Past Courses</h3>
    <% unless current_user.past_courses.nil? || current_user.past_courses.empty? %>	
      <table id="your-past-table" class="table table-condensed tablesorter">
	  <thead>
  	  <tr>
  		<th>Name</th>
		<th>Submission Date</th>
  		<th>Course Date</th>
  		<th></th>
  	  </tr>
      </thead>
	  <tbody>
      <% current_user.past_courses.each do |course| %>	
        <tr>
  	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
  		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
  		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
  	   	   <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
          <% end %>
		  </td>
  	    </tr>
      <% end %>
	  </tbody>
  	</table>
    <% else %>
  	None yet!
    <% end %>
</div>
<div id="right">
<h3>Homeless Courses</h3>
  <% unless Course.homeless.nil? || Course.homeless.empty? %>
	<table id="homeless-table" class="table table-condensed tablesorter">
	<thead>	
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Course Date</th>
		<th></th>
	  </tr>
	</thead>
	<tbody>
      <% Course.homeless.each do |course| %>	
      	<tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
	   		<%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
    	  <% end %>
		  </td>
	    </tr>
      <% end %>
	</tbody>
	</table>
  <% else %>
	None yet!
  <% end %>
  
  <h3>Unassigned Courses</h3>
    <% unless Course.unassigned.nil? || Course.unassigned.empty? %>
  	<table id="unassigned-table" class="table table-condensed tablesorter">
	<thead>
  	  <tr>
  		<th>Name</th>
		<th>Submission Date</th>
  		<th>Course Date</th>
  		<th></th>
  	  </tr>
    </thead> 
	<tbody>
        <% Course.unassigned.each do |course| %>	
        	<tr>
  	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
  		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
  		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
  	   		<%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
      	  <% end %>
		  </td>
  	    </tr>
        <% end %>
	</tbody>	
  	</table>
    <% else %>
  	None yet!
    <% end %>
	
    <h3>Roomless Courses</h3>
      <% unless Course.roomless.nil? || Course.roomless.empty? %>
    	<table id="roomless-table" class="table table-condensed tablesorter">
		<thead>
    	  <tr>
    		<th>Name</th>
			<th>Submission Date</th>
    		<th>Course Date</th>
    		<th></th>
    	  </tr>
		</thead>
		<tbody>
          <% Course.roomless.each do |course| %>	
          	<tr>
    	  	  <td><%= link_to(course.title, course ) %></td>
			  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
    		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
    		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
              <% if current_user.try(:admin?) %>
    	   		<%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
        	  <% end %>
			  </td>
    	    </tr>
          <% end %>
		</tbody>
    	</table>
      <% else %>
    	None yet!
      <% end %>
 </div> 