<script>
  $(function() {
   $("table#sortTableExample").tablesorter({ sortList: [[1,0]] });
   $('.nav-tabs[role="tablist"] a').each(function (i,el) {
     $(el).click(function (e) {
       e.preventDefault();
       $(this).tab('show');
     });
   });
  });
</script>


<h3>Dashboard</h3>
<ul class="nav nav-tabs" role="tablist">
  <li><a role="tab" data-toggle="tab" href="#upcoming" class="active">Upcoming Classes</a></li>
  <li><a role="tab" data-toggle="tab" href="#homeless">Homeless Classes</a></li>
  <li><a role="tab" data-toggle="tab" href="#unclaimed">Classes to Claim</a></li>
  <li><a role="tab" data-toggle="tab" href="#closed">Completed Classes</a></li>
</ul>
<div class="dash-wrap tab-content">
  <div class="tab-pane active row" id="upcoming">
    <%= render :partial => 'shared/dashboard_table',
               :locals => { :id => 'your-unscheduled-table',
                            :title => 'Your Claimed, Unscheduled Classes',
                            :courses => @your_unscheduled } %>

    <%= render :partial => 'shared/dashboard_table',
               :locals => { :id => 'your-upcoming-table',
                            :title => 'Your Scheduled, Claimed Classes',
                            :courses => @your_upcoming } %>

  </div> <!-- END #upcoming -->

  <div class="tab-pane row" id="homeless">
    <div class="clearfix">
      <%= render :partial => 'shared/dashboard_table',
                 :locals => { :id => 'homeless-table',
                              :title => 'Homeless Classes',
                              :courses => @homeless } %>
    </div>
  </div> <!-- END homeless -->

  <div class="tab-pane row" id="unclaimed">
    <div class="clearfix">
      <%= render :partial => 'shared/dashboard_table',
                 :locals => { :id => 'unassigned-table',
                              :title => 'Classes to be Scheduled',
                              :courses => @unscheduled_unclaimed } %>
      <%= render :partial => 'shared/dashboard_table',
                 :locals => { :id => 'roomless-table',
                              :title => 'Scheduled Classes',
                              :courses => @scheduled_unclaimed } %>
    </div>
  </div> <!-- END unclaimed -->

  <div class="tab-pane row" id="closed">
    <%= render :partial => 'shared/dashboard_table',
               :locals => { :id => 'your-to-close-table',
                            :title => 'Your Classes To Close',
                            :courses => @your_classes_to_close } %>

    <%= render :partial => 'shared/dashboard_table',
               :locals => { :id => 'your-past-table',
                            :title => 'Your Closed Classes',
                            :courses => @your_past } %>
  </div> <!-- END #closed -->
</div> <!-- END .dash-wrap -->
