<script src="js/jquery/jquery.tablesorter.min.js"></script>
<script >
  $(function() {
    $("table#sortTableExample").tablesorter({ sortList: [[1,0]] });
  });
</script>


<h3>Dashboard</h3>

<div id="dash-wrap">
  <div id="dash_widget">	
      <h4><%= link_to "Upcoming Classes for Your Library/Archive", dashboard_items_welcome_index_path(:courses => @your_repo_courses, :title => "Upcoming Classes for Your Library/Archive"), :target => "blank" %></h4>
        <% unless @your_repo_courses.nil? || @your_repo_courses.empty? %>
      	<table id="your-repos-table" class="table table-condensed tablesorter">
      	  <tr>
      		<th>Name</th>
      		<th>Class Date</th>
			<th>Status</th>
      		<th></th>
      	  </tr>
            <% @your_repo_courses.each do |course| %>	
            	<tr>
      	  	  <td><%= link_to(course.title, course ) %></td>
      		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
			  <td><%= course.status unless course.status.nil? %></td>
      		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %>
              <% if current_user.try(:admin?) %>
      	   		<br /><%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
          	  <% end %>
			  </td>
      	    </tr>
            <% end %>
      	</table>
		<br />
		<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "your-repos-table" } %>
        <% else %>
      	None yet!
        <% end %>
  </div>

  <div id="dash_widget">	
  <h4><%= link_to "Homeless Classes", dashboard_items_welcome_index_path(:courses => @homeless, :title => "Homeless Classes"), :target => "blank" %></h4>
  <% unless @homeless.nil? || @homeless.empty? %>
	<table id="homeless-table" class="table table-condensed tablesorter">
	<thead>	
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Class Date</th>
		<th></th>
	  </tr>
	</thead>
	<tbody>
      <% @homeless.each do |course| %>	
      	<tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
			  <%= link_to('Add Note', course_path(course), :class => "action-edit") %><br />
			  <%= link_to('Take', take_course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
	   		<%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
    	  <% end %>
		  </td>
	    </tr>
      <% end %>
	</tbody>
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "homeless-table" } %>
  <% else %>
	None yet!
  <% end %>
  </div>
</div>
<div id="dash-wrap">
  <div id="dash_widget">
  <h4><%= link_to "Your Claimed, Unscheduled Classes", dashboard_items_welcome_index_path(:courses => @your_unscheduled, :title => "Your Claimed, Unscheduled Classes"), :target => "blank" %></h4>
  <% unless @your_unscheduled.nil? || @your_unscheduled.empty? %>	
    <table id="your-unscheduled-table" class="table table-condensed tablesorter">
	  <thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th></th>
	  </tr>
	  </thead>
	  <tbody>
    <% @your_unscheduled.each do |course| %>	
      	<tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
			  <%= link_to('Add Note', course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
	   		 <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
      	  <% end %>
		  </td>
	    </tr>
    <% end %>
	  </tbody>
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "your-unscheduled-table" } %>
  <% else %>
	None yet!
  <% end %>
  </div>

  <div id="dash_widget">  
  <h4><%= link_to "Unscheduled, Unclaimed Classes", dashboard_items_welcome_index_path(:courses => @unscheduled_unclaimed, :title => "Unscheduled, Unclaimed Classes"), :target => "blank" %></h4>
    <% unless @unscheduled_unclaimed.nil? || @unscheduled_unclaimed.empty? %>
  	<table id="unassigned-table" class="table table-condensed tablesorter">
	<thead>
  	  <tr>
  		<th>Name</th>
		<th>Submission Date</th>
  		<th>Class Date</th>
  		<th></th>
  	  </tr>
    </thead> 
	<tbody>
        <% @unscheduled_unclaimed.each do |course| %>	
        	<tr>
  	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
  		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
  		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
			  <%= link_to('Add Note', course_path(course), :class => "action-edit") %><br />
	  		  <%= link_to('Take', take_course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
  	   		<%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
      	  <% end %>
		  </td>
  	    </tr>
        <% end %>
	</tbody>	
  	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "unassigned-table" } %>
    <% else %>
  	None yet!
    <% end %>
  </div>
</div>
<div id="dash-wrap">
  <div id="dash_widget">
  <h4><%= link_to "Your Scheduled, Claimed Classes", dashboard_items_welcome_index_path(:courses => @your_upcoming, :title => "Your Scheduled, Claimed Classes"), :target => "blank" %></h4>
  <% unless @your_upcoming.nil? || @your_upcoming.empty? %>	
    <table id="your-upcoming-table" class="table table-condensed tablesorter">
	  <thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Class Date</th>
		<th></th>
	  </tr>
	  </thead>
	  <tbody>
    <% @your_upcoming.each do |course| %>	
      	<tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
			  <%= link_to('Add Note', course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
	   		 <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
      	  <% end %>
		  </td>
	    </tr>
    <% end %>
	  </tbody>
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "your-upcoming-table" } %>
  <% else %>
	None yet!
  <% end %>
  </div>

  <div id="dash_widget">	
    <h4><%= link_to "Scheduled, Unclaimed Classes", dashboard_items_welcome_index_path(:courses => @scheduled_unclaimed, :title => "Scheduled, Unclaimed Classes"), :target => "blank" %></h4>
      <% unless @scheduled_unclaimed.nil? || @scheduled_unclaimed.empty? %>
    	<table id="roomless-table" class="table table-condensed tablesorter">
		<thead>
    	  <tr>
    		<th>Name</th>
			<th>Submission Date</th>
    		<th>Class Date</th>
    		<th></th>
    	  </tr>
		</thead>
		<tbody>
          <% @scheduled_unclaimed.each do |course| %>	
          	<tr>
    	  	  <td><%= link_to(course.title, course ) %></td>
			  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
    		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
    		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
				  <%= link_to('Add Note', course_path(course), :class => "action-edit") %><br />
				  <%= link_to('Take', take_course_path(course), :class => "action-edit") %><br />
              <% if current_user.try(:admin?) %>
    	   		<%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
        	  <% end %>
			  </td>
    	    </tr>
          <% end %>
		</tbody>
    	</table>
		<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "roomless-table" } %>
      <% else %>
    	None yet!
      <% end %>
  </div>
</div>

<div id="dash-wrap">
  <div id="dash_widget">
  <h4><%= link_to "Your Classes To Close", dashboard_items_welcome_index_path(:courses => @your_classes_to_close, :title => "Your Classes To Close"), :target => "blank" %></h4>
  <% unless @your_classes_to_close.nil? || @your_classes_to_close.empty? %>	
    <table id="your-upcoming-table" class="table table-condensed tablesorter">
	  <thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Class Date</th>
		<th></th>
	  </tr>
	  </thead>
	  <tbody>
    <% @your_classes_to_close.each do |course| %>	
      	<tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
		  <td><%= link_to('Edit to Close', edit_course_path(course), :class => "action-edit") %><br />
			  <%= link_to('Add Note', course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
	   		 <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
      	  <% end %>
		  </td>
	    </tr>
    <% end %>
	  </tbody>
	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "your-upcoming-table" } %>
  <% else %>
	None yet!
  <% end %>
  </div>

  <div id="dash_widget">  
  <h4><%= link_to("Your Closed Classes", "#", :id => 'collapsable') %></h4>
  <span id="your-past">
    <% unless @your_past.nil? || @your_past.empty? %>	
      <table id="your-past-table" class="table table-condensed tablesorter">
	  <thead>
  	  <tr>
  		<th>Name</th>
		<th>Submission Date</th>
  		<th>Class Date</th>
  		<th></th>
  	  </tr>
      </thead>
	  <tbody>
      <% @your_past.each do |course| %>	
        <tr>
  	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
  		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
  		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %><br />
			  <%= link_to('Add Note', course_path(course), :class => "action-edit") %><br />
          <% if current_user.try(:admin?) %>
  	   	   <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
          <% end %>
		  </td>
  	    </tr>
      <% end %>
	  </tbody>
  	</table>
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "your-past-table" } %>
    <% else %>
  	None yet!
    <% end %>
  </span>
  </div>
</div>