<h2>Welcome!</h2>
<br />
<%= render :partial => 'shared/welcome_text' %>

<div id="welcome-left">
  	<h3>Repositories</h3>
	<p>
	
	<% @repositories.each do |repo| %>
	  <%= link_to repo.name, repo %><br />
	<% end %>
	
	</p>
</div>

<div id="welcome-middle">
	<h3>Request a Class Session</h3>
	<p>To request a new course, choose a Repository:</p>
	
	<%= form_tag new_course_path, :method => :get do %>
	<p>
	  <%= select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :prompt => "Don't Know" %>
	  <%= submit_tag "Go!" %>
	</p>
	<% end %>	
</div>

<div id="welcome-right">
  	<h3>Recent Courses</h3>
	  <% unless @courses.nil? %>	
	  	<% @courses.each do |course| %>	
	      
		    <li><%= link_to(course.title, summary_course_url(course) ) %></li>
		  
	    <% end %>
	  <% else %>
		None yet!
	  <% end %>
</div>
