<% if user_signed_in? %>
  <h3>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></h3>
<% else %>
  <h3>Welcome</h3>
<% end %>

<%= render :partial => 'shared/welcome_text' %>

<div id="welcome-left">
  	<h4>Participating Special Collections Libraries/Archives</h4>
	<p>
	<%= link_to "Not Sure - Help me Choose", new_course_path %><br /> 
	<sup>Select this option if you would like us to match your class with a library/archive.<br /></sup>
	<% @repositories.each do |repo| %>
	  <%= link_to repo.name, repo %><br /> 
	<% end %>
	</p>
	<p><a href="http://lib.harvard.edu/archives-and-special-collections-harvard">See all Archives and Special Collections at Harvard</a></p>
	<p>
	Are you a Special Collections Library/Archive at Harvard?<br /> Would you like to participate?<br /> <a href="mailto:rhowarth@fas.harvard.edu">Join us!</a>
	</p>
</div>

<div id="welcome-right">
  	<h4>Recent Classes</h4>
	  <% unless @courses.nil? %>	
	  	<% @courses.each do |course| %>	
	      
		    <li><%= link_to(course.title, recent_show_course_url(course) ) %></li>
		  
	    <% end %>
	  <% else %>
		None yet!
	  <% end %>
</div>
