<% if user_signed_in? %>
  <h2>Welcome, <%= current_user.first_name %>!</h2>
<% else %>
  <h2>Welcome!</h2>
<% end %>
<br />
<%= render :partial => 'shared/welcome_text' %>

<div id="welcome-left">
  	<h3>Participating Special Collections Libraries/Archives</h3>
	<p>
	<%= link_to "Not Sure - Help me Choose", new_course_path %><br /> 
	<% @repositories.each do |repo| %>
	  <%= link_to repo.name, repo %><br /> 
	<% end %>
	</p>
	<p>See all Archives and Special Collections at Harvard</p>
	<p>
	Are you a Special Collections Library/Archive at Harvard?<br /> Would you like to participate?<br /> <a href="mailto:rhowarth@fas.harvard.edu">Join us!</a>
	</p>
</div>

<div id="welcome-right">
  	<h3>Recent Classes</h3>
	  <% unless @courses.nil? %>	
	  	<% @courses.each do |course| %>	
	      
		    <li><%= link_to(course.title, recent_show_course_url(course) ) %></li>
		  
	    <% end %>
	  <% else %>
		None yet!
	  <% end %>
</div>
