<h2>Welcome!</h2>
<br />

<%= render :partial => 'shared/welcome_text' %>

To request a new course, choose a Repository:
<%= form_tag new_course_path, :method => :get do %>
<p>
  <%= select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :prompt => "Don't Know" %>
  <%= submit_tag "Go!" %>
</p>
<% end %>

Or, to get more information on a repository, click on one below:
<p>
<ul>
<% @repositories.each do |repo| %>
  <li><%= link_to repo.name, repo %></li>
<% end %>
</ul>
</p>	
