<h2>Welcome!</h2>
<br />
<div id="info-left">
  	<%= render :partial => 'shared/welcome_text' %>
	<h3>Request a Course</h3>
	<p>To request a new course, choose a Repository:</p>
	
	<%= form_tag new_course_path, :method => :get do %>
	<p>
	  <%= select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :prompt => "Don't Know" %>
	  <%= submit_tag "Go!" %>
	</p>
	<% end %>

	Or, to get more information on a repository, click on one below:
	<p>
	<ul>
	<% @repositories.each do |repo| %>
	  <li><%= link_to repo.name, repo %></li>
	<% end %>
	</ul>
	</p>	
</div>

<div id="info-right">
  	<h3>Recent Courses</h3>
	  <% unless @courses.nil? %>	
	  	<% @courses.each do |course| %>	
	      <ul>
		    <li><%= link_to(course.title, summary_course_url(course) ) %> - <%= course.course_number unless course.course_number.nil? %></li>
		  </ul>
	    <% end %>
	  <% else %>
		None yet!
	  <% end %>
</div>
