- if user_signed_in?
  %p Welcome, #{current_user.display_name}
.row
  .col-md-4
    .panel.panel-info
      .panel-heading
        %h1.panel-title Welcome
      .panel-body
        %p
          Teach with us! Class sessions at participating special collections libraries and archives can range from surveys of faculty-selected collection material to sessions for which our staff provide guided explorations. Bring your class in for an hour or schedule several visits for in-depth investigations of archives, manuscripts, maps, rare books, and more.
        %p
          %strong NOTE:
          %a{:href => "https://hcl.harvard.edu:8001/forms/requests/instruction.cfm", :target => "_new"} general library instruction sessions
          are scheduled separately.

  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h2.panel-title Request A Class
      .panel-body
        %p
          %strong To request a class, select a site below or click “Help Me Choose” and we'll help pair your class with a participating library or archive.
        %br
        %p.text-center
          .form#select-repo
            = select_tag :repo, options_from_collection_for_select(@repositories, :id, :name), :prompt => '-- Choose a Library --', :class => 'form-control'
            %br
            %button.btn.btn-sm.btn-primary Go
          %br
          %strong OR
          %br
          %br
            = link_to 'Help Me Choose', new_course_path, :class => 'btn btn-primary'

    .panel.panel-info
      .panel-heading
        %h4.panel-title Recent Classes
      .panel-body
        %ul.list-group.no-borders
        - unless @courses.nil?
          - @courses.each do |course|
            %li.list-group-item= link_to(course.title, recent_show_course_url(course) )
        - else
          None yet.

  .col-md-4
    .featured-image
      = render :partial => 'shared/repo_image', :locals => { image: @featured_image, size: :welcome_page, repo: @featured_repository, show_credit: true   }

    .well.well-sm
      %h4 Join Us!
      %p
        Are you a special collections library/archive at #{Customization.current[:institution]}?
      %p
        Would you like to participate?
      %p.email
        %span.glyphicon.glyphicon-envelope
        %a{:href => "mailto:#{Customization.current[:tool_content_admin_email]}"} Let us know!
