- if user_signed_in?
  %h3
    Welcome, #{current_user.display_name}
- else
  %h3 Welcome
  %p
    Teach with us. Class sessions at participating special collections libraries and archives can range from surveys of faculty-selected collection material to sessions for which our staff provide guided explorations. Bring your class in for an hour or schedule several visits for in-depth investigations of archives, manuscripts, maps, rare books, and more.
  %p
    To submit a class request, select a site below or let staff help you select the most appropriate host. You'll be asked to create an account which will allow you to submit requests, communicate with staff, and revisit the details of your past classes. (Please note:
    %a{:href => "https://hcl.harvard.edu:8001/forms/requests/instruction.cfm", :target => "_new"} general library instruction sessions
    are scheduled separately.)
.row
  #welcome-left
    %h4 Participating Special Collections Libraries/Archives
    %p
      Select a Participating Special Collections Library/Archive
    %p{:style => "margin-bottom:0;"}
      = link_to "Not Sure - Help me Choose", new_course_path
      %br/
    %div{:style => "font-size: .85em; margin-left:1em; margin-bottom:0.3em;"}
      Select this option if you would like us to match your class with a library/archive.
      %br/
    - @repositories.each do |repo|
      = link_to repo.name, repo
      %br/
    %p
      Are you a Special Collections Library/Archive at #{$local_config[:institution]}?
      %br/
      Would you like to participate?
    %p.email
      %span.glyphicon.glyphicon-envelope
      %a{:href => "mailto:#{$local_config[:tool_content_admin_email]}"} Join us!
  #welcome-right
    %h4 Recent Classes
    - unless @courses.nil?
      - @courses.each do |course|
        %li= link_to(course.title, recent_show_course_url(course) )
    - else
      None yet.
