<h1>Attributes</h1>

<div>
  	<table id="attributes-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @attributes.each do |attribute| %>
	    <tr>
	  	  <td><%= attribute.name %></td>
		  <td>
	      <% if current_user.try(:admin?) %>
	   		<%= link_to('Edit', edit_item_attribute_path(attribute), :class => "action-edit") %> | <%= link_to('Delete', item_attribute_path(attribute), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
  
  <% if current_user.try(:admin?) %>
    <%= link_to("Add New Attribute", new_item_attribute_path ) %>
  <% end %>
</div>
<%= will_paginate @attributes %>