%h3 Classroom Technologies Available
%div
  %table#attributes-table.table.table-striped.table-condensed.tablesorter
    %thead
      %tr
        %th Name
        - if current_user.can_admin?
          %th Actions
        - else
          %th
    %tbody
      - @attributes.each do |attribute|
        %tr
          %td= attribute.name
          %td
            - if current_user.can_admin?
              = link_to('Edit', edit_item_attribute_path(attribute), :class => "action-edit")
            - if current_user.superadmin?
              | #{link_to('Delete', item_attribute_path(attribute), :confirm => "Are you sure?", :method => :delete)}
  %br/
  = render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "attributes-table" }
  %br/
  %br/
  - if current_user.can_admin?
    = link_to("Add New Technology", new_item_attribute_path, :class => "btn btn-primary" )
