<div id="welcome-left">
<h3>Sign in</h3>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :username, :autofocus => true %>

  <%= f.input :password %>

  <%= f.actions do %>
    <%= f.action :submit, :label => "Sign in", :button_html => {:class => 'btn btn-primary'} %>
  <% end %>
  <br />
  <% if devise_mapping.rememberable? %>
     <%= f.input :remember_me, :as => :boolean %>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>
</div>
<div id="welcome-right">
<h3>Create a New Account</h3>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :username %>

  <%= f.input :email %>


  <%= f.input :first_name %>

  <%= f.input :last_name %>

  <%= f.input :password %>

  <%= f.input :password_confirmation %>

  <%= f.actions do %>
    <%= f.action :submit, :label => 'Sign Up', :button_html => {:class => 'btn btn-primary'} %>
  <% end %>
<% end %>

</div>
