<h3>Rooms</h3>

<div>
  	<table id="rooms-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Limit</th>
		<th>Libraries/Archives Associated</th>
		<th>Technology Available</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @rooms.each do |room| %>
	    	<tr>
	  	  <td><%= room.name %></td>
		  <td><%= room.class_limit %></td>
		  <td>
			<% room.repositories.each do |x| %>
			   <%= x.name %><br />
			<% end %>
		  </td>
		  <td>
			<% room.item_attributes.each do |x| %>
			   <%= x.name %><br />
			<% end %>
		  </td>
		  <td>
	      <% if current_user.try(:admin?) %>
	   		<%= link_to('Edit', edit_room_path(room), :class => "action-edit") %> | <%= link_to('Delete', room_path(room), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<br />
	<%= render :partial => '/shared/tablesorter_pager' %>
	<br />
	<br />
  <% if current_user.try(:admin?) %>
    <%= link_to("Add New Room", new_room_path ) %>
  <% end %>
</div>