<h3>Staff Services</h3>

<div>
  	<table id="involvement-table" class="table table-striped table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Text</th>
		<th>Libraries/Archives</th>
	  <% if current_user.admin? %>
		  <th>Actions</th>
		<% else %>
		  <th></th>
		<% end %>
	  </tr>
	</thead>
	<tbody>
	    <% @staff_involvements.each do |si| %>
	    <tr>
	  	  <td><%= si.involvement_text %></td>
		  <td>
		  <% si.repositories.each do |repo| %>
		    <%= repo.name %><br />
		  <% end %>
		  </td>
		  <td>
	      <% if current_user.can_admin? %>
	   		  <%= link_to('Edit', edit_staff_involvement_path(si), :class => "action-edit") %>
	   		<% end %>
  	    <% if current_user.superadmin? %>
  	   	  | <%= link_to('Delete', staff_involvement_path(si), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>
	</table>
	<br />
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "involvement-table" } %>
	<br />
	<br />
  <% if current_user.can_admin? %>
    <%= link_to("Add New Staff Service", new_staff_involvement_path, :class => "btn btn-primary" ) %>
  <% end %>
</div>
