:javascript
  function change_repo_items(repo_id) {
    $.get("#{url_for(:action => 'repo_select')}?repo=repo_id", function(data) {
      $("#repo_info").html(data);
    });
  }
  $(function() {
    $('form').on('submit', function (e) {
      history.replaceState({submitted: "yes"}, '', "");
    });
    if (history && history.state && history.state.submitted == "yes"){
      $('form').on('submit', function (e) {
      e.preventDefault();
      alert("You've already submitted this form. Redirecting to the Class Request Tool's homepage!");
      location.href = "/";
    });
    }
  });
#info-left{ "data-course_id" => @course.id }
  = semantic_form_for(@course, :html => {:multipart => true}) do |f|
    = f.inputs do
      .form_wrapper
        .form_col2
          %h4= "Location: </em>#{@course.repository.nil? ? 'Not Sure - Help me Choose' : @course.repository.name}</em>".html_safe
          - if current_user.can_admin? || current_user.staff?
            .admin-box
              = f.input :repository_id, :as => :select, :collection => Repository.all, :label => "Assign Library/Archive: "
          - else
            = f.hidden_field :repository_id, :value => @course.repository_id
      #requester_info= render :partial => 'course_requester_info', :locals=>{:f=>f}
      #course_info= render :partial => 'course_info', :locals=>{:f=>f}
      #involvement_info= render :partial => 'course_staff_service', :locals=>{:f=>f}
      #scheduling_info= render :partial => 'course_scheduling', :locals=>{:f=>f}
    #missing-fields
    = f.actions do
      = f.action :submit, :as => :button, :label => 'new' == controller.action_name ? 'Create Request' : 'Update Request',  :button_html =>{:class => "btn btn-primary"}
