.form_wrapper
  %h4 Staff Services
  .panel.panel-default
    .panel-body
      .form_full_width
        = f.input :staff_involvements, :label => "Please select or suggest ways our staff can be of assistance for this class: ", :as => :check_boxes, :collection => @course.repository.nil? ? Repository.find(:first, :conditions => ("name like '%Houghton%'")).staff_involvements : @course.repository.staff_involvements
        = f.input :staff_involvement, :label => "Additional Services: ", :input_html => { :rows => 5, :columns => 100 }
      - if current_user.can_admin? || current_user.staff?
        .form_full_width.admin-box
          - if @course.repository.nil?
            = f.input :primary_contact_id, :as => :select, :collection => User.all_admins, :label => "Assign Primary Staff Contact: "
            = f.input :users, :as => :check_boxes, :collection => User.all_admins, :label => "Assign Additional Staff: "
          - else
            = f.input :primary_contact_id, :as => :select, :collection => @course.repository.users, :label => "Assign Primary Staff Contact: "
            %span.help-block Staff member primarily responsible for course
            - unless @course.primary_contact_id.nil?
              = render partial: 'staff_list', locals: { form: true, staff_members: @additional_staff }

            - else
              = f.input :users, :as => :check_boxes, :collection => @course.repository.users, :label => "Assign Additional Staff: "
