<h3>Repository Information</h3>

<div>
	<% unless @repository.nil? || @repository.blank? %>
	  Name: <%= @repository.name %> <br />
	  Description: <%= @repository.description unless @repository.description.nil? %> <br />
	  Class Limit: <%= @repository.class_limit unless @repository.class_limit.nil? %> <br />
	  Available Attributes: 
	  <ul>
	    <% @repository.item_attributes.each do |attribute| %>
	      <li><%= attribute.name %> - <%= attribute.description %></li>
	    <% end %>
	  </ul>
	  Available Rooms: 
	  <ul>
	    <% @repository.rooms.each do |room| %>
	      <li><%= room.name %></li>
	    <% end %>
	  </ul>
	<% else %>
	  No Repository Chosen
	<% end %>
</div>