<h3>Library/Archive Information</h3>

<div>
	<% unless @repository.nil? || @repository.blank? %>
	  Name: <%= @repository.name %> <br />
	  Description: <%= @repository.description unless @repository.description.nil? %> <br />
	  Class Limit: <%= @repository.class_limit unless @repository.class_limit.nil? %> <br />
	  Available Attributes: 
	  <ul>
	    <% @repository.item_attributes.each do |attribute| %>
	      <li><%= attribute.name %> - <%= attribute.description %></li>
	    <% end %>
	  </ul>
	  Available Rooms: 
	  <ul>
	    <% @repository.rooms.each do |room| %>
	      <li><%= room.name %></li>
	    <% end %>
	  </ul>
	<% else %>
	  No Library/Archive Chosen. We’re happy to determine the best library or archive for your class session(s). Choose this option if you would like us to assist you with this decision. We will base this decision on the strengths of the collection and availability of staff and rooms at the libraries or archives.
	<% end %>
	<br /><br />
	<p>
	<%= raw @repository.calendar unless @repository.nil? || @repository.calendar.nil? %> <br />
	</p>
</div>