<script type="text/javascript" charset="utf-8">
  function change_repo_items(repo_id)
 {
    $.ajax('<%= url_for(:action => "repo_select") %>?repo='+repo_id,
    {
      method: 'get',
      success: function(data) {
		$("#repo_items").html(data);
      }
    });
  }
 </script>
 <noscript>Please enable Javascript.</noscript>

<h1>Edit Class</h1>

<div id="info-left">	
  <%= semantic_form_for(@course, :html => {:multipart => true}) do |f| %>
	<%= f.inputs do %>
	<div id="form_wrapper">
	<div id="form_col1">
	  <h3><%= @course.repository.nil? ? "Not Sure - Help me Choose" : @course.repository.name %></h3>
	</div>
	<% if current_user.try(:admin?) || current_user.try(:staff?) %>
	  <div id="form_col2" class="yellow-box">	
		 <%= f.input :repository_id, :as => :select, :collection => Repository.all, :label => "Assign Library/Archive: " %>
	  </div>
	<% end %>
	</div>
		<span id="requester_info"><%= render :partial => 'shared/forms/course_requester_info', :locals=>{:f=>f} %></span>
        <span id="course_info"><%= render :partial => 'shared/forms/course_info', :locals=>{:f=>f} %></span>
        <span id="involvement_info"><%= render :partial => 'shared/forms/course_staff_involvement', :locals=>{:f=>f} %></span>
        <span id="scheduling_info"><%= render :partial => 'shared/forms/course_scheduling', :locals=>{:f=>f} %></span>
	<% end %>
	<br />
	<p>Be sure to review your information and make any edits before submitting your request.</p>
	<p>Please note that some of the information you provide may be used to promote the variety of classes being offered at special collections libraries and archives at Harvard.</p>
	<%= f.actions do %>
	  <%= f.action :submit, :as => :button, :label => 'Update Request ' %>
	<% end %>
  <% end %>	
</div>