<% if current_user.try(:patron?) %>
<div>
  <h3>My Classes</h3>

	To submit a new class, choose a Library/Archive:
	  <%= form_tag new_course_path, :method => :get do %>
	  <p>
	    <%= select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :prompt => "Not Sure - Help me Choose" %>
	    <%= submit_tag "Go!" %>
	  </p>
	  <% end %>

	<h4>Current Classes</h4>
  <% unless @courses_mine_current.empty? %>	
    <table id="course-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Class Date</th>
		<th>Status</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @courses_mine_current.each do |course| %>	
	    <tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
		  <td><%= course.status %></td>
		  <td>
		  <% if course.timeframe.nil? %>
		    <%= link_to('Edit', edit_course_path(course), :class => "action-edit") %> | <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
  <% else %>
	None yet!
  <% end %>
  
</div>
<%= will_paginate @courses_mine_current, :param_name => 'mine_current_page' %>

<div>
  <h4>Past Classes</h4>	
  <% unless @courses_mine_past.empty? %>	
    <table id="course-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Class Date</th>
		<th>Status</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @courses_mine_past.each do |course| %>	
	    <tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
		  <td><%= course.status %></td>
		  <td>
		  <% if course.timeframe.nil? %>
		    <%= link_to('Edit', edit_course_path(course), :class => "action-edit") %> | <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
  <% else %>
	None yet!
  <% end %>
</div>
<%= will_paginate @courses_mine_past, :param_name => 'mine_past_page' %>

<% else %>
<div>
  <h3>All Classes</h3>
  <% unless @courses_all.empty? %>	
    <table id="course-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Class Date</th>
		<th>Status</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @courses_all.each do |course| %>	
	    <tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
		  <td><%= course.status %></td>
		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %>
	      <% if current_user.try(:admin?) %>
	   		 | <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<%= will_paginate @courses_all, :param_name => 'all_page' %>
  <% else %>
	None yet!
  <% end %>
  <br /><br />
  To submit a new class, choose a Library/Archive:
  <%= form_tag new_course_path, :method => :get do %>
  <p>
    <%= select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :prompt => "Not Sure - Help me Choose" %>
    <%= submit_tag "Go!" %>
  </p>
  <% end %>
</div>
<% end %>
