- today = DateTime.now
%div
  - if current_user.patron?
    %h3 My Classes
  - else
    %h3 All Classes
    - if current_user.can_admin?
      %h4= link_to('Export Courses to CSV', export_courses_path(:format => :csv))
      - if @nil_date_warning
        .alert.alert-warning There are classes without requested or actual dates at the end of this list.
      
  %p To submit a new class, choose a Library/Archive:
  = form_tag new_course_path, :method => :get do
    .row
      = select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :class => 'input select form-control', :prompt => "Not Sure - Help me Choose"
      = submit_tag "Go", :class => 'btn btn-primary'
      
  %br/
  - unless @courses.empty?
    %p
      %em
        %span.glyphicon.glyphicon-th-list
        &mdash; Hover to see multiple meeting times&nbsp;&nbsp;&nbsp;&nbsp;
        - if current_user.can_admin?
          %span.glyphicon.glyphicon-upload.upcoming
          &mdash; Upcoming course&nbsp;&nbsp;&nbsp;&nbsp;
          %span.glyphicon.glyphicon-download.past
          &mdash; Past course&nbsp;&nbsp;&nbsp;&nbsp;
          %span.glyphicon.glyphicon-minus-sign.nil
          &mdash; Course with no dates&nbsp;&nbsp;&nbsp;&nbsp;
       
    .pager-courses-current
      = render 'shared/tablesorter_pager'
    %table#courses-current.sortable
      %thead
        %tr
          - if current_user.can_admin?
            %th.no-controls
          %th Name
          %th Submission Date
          %th Date(s)
          %th Library/Archive
          - if current_user.can_admin?
            %th Status
            %th Requester
            %th.no-controls Actions
          / %th.hidden Search fodder
      %tbody
        - @courses.each do |c|
          %tr
            - if current_user.can_admin?
              %td= upcoming_or_past(c.last_date).html_safe
            %td= link_to(c.title, c )
            %td= c.created_at.strftime(DATETIME_2_LINE_FORMAT).html_safe
            %td.section-times= first_plus_multiple_sections(c.sections).html_safe
            %td= c.repo_name
            - if current_user.can_admin?
              %td= full_status(c)
              %td= c.contact_last_name
              %td
                = render :partial => 'shared/course_actions', :locals => { :course => c }
            / %td.hidden= searchable_fields(c)
    .pager-courses-current
      = render 'shared/tablesorter_pager'
    %br/
    %br/
  - else
    - if current_user.can_admin?
      %p There are no classes yet.
    - elsif current_user.patron?
      %p You have no classes yet.
