- today = DateTime.now
%div
  - if current_user.patron?
    %h3 My Classes
  - else
    %h3 All Classes
    - if current_user.can_admin?
      %h4= link_to('Export Courses to CSV', export_courses_path(:format => :csv))
      - if @nil_date_warning
        .alert.alert-warning There are classes without requested or actual dates at the end of this list.
      
  %p To submit a new class, choose a Library/Archive:
  = form_tag new_course_path, :method => :get do
    .row
      = select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :class => 'input select form-control', :prompt => "Not Sure - Help me Choose"
      = submit_tag "Go", :class => 'btn btn-primary'
      
  %br/
  - unless @courses.empty?
    - if current_user.can_admin?
      %p
        %em
          (
          Upcoming course:
          %span.glyphicon.glyphicon-upload.upcoming
          &nbsp;&nbsp;&nbsp;&nbsp;Past course:
          %span.glyphicon.glyphicon-download.past
          &nbsp;&nbsp;&nbsp;&nbsp;Course with no dates:
          %span.glyphicon.glyphicon-minus-sign.nil
          )
       
    %table#course-table-current.sortable
      %thead
        %tr
          - if current_user.can_admin?
            %th
          %th Name
          %th Submission Date
          %th Date(s)
          %th Library/Archive
          - if current_user.can_admin?
            %th Status
            %th Requester
            %th Actions
          %th.hidden Search fodder
      %tbody
        - @courses.each do |c|
          %tr
            - if current_user.can_admin?
              %td= upcoming_or_past(c.last_date).html_safe
            %td= link_to(c.title, c )
            %td= c.created_at.strftime(DATE_FORMAT)
            %td.section-times= first_plus_multiple_sections(c.sections).html_safe
            %td= c.repo_name
            - if current_user.can_admin?
              %td= full_status(c)
              %td= c.contact_last_name
              %td
                = render :partial => 'shared/course_actions', :locals => { :course => c }
            %td.hidden= searchable_fields(c)
    #pager-course-table-current
      = render 'shared/tablesorter_pager'
    %br/
    %br/
  - else
    - if current_user.can_admin?
      %p There are no classes yet.
    - elsif current_user.patron?
      %p You have no classes yet.
