<h1>Courses</h1>

<div>
  <h2>All Courses</h2>
  <% unless @courses_all.empty? %>	
    <table id="course-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Course Date</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @courses_all.each do |course| %>	
	    <tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless course.timeframe.nil? %></td>
		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %>
	      <% if current_user.try(:admin?) %>
	   		 | <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
  <% else %>
	None yet!
  <% end %>
  <br /><br />
  To submit a new course, choose a Repository:
  <%= form_tag new_course_path, :method => :get do %>
  <p>
    <%= select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :prompt => "Don't Know" %>
    <%= submit_tag "Go!" %>
  </p>
  <% end %>
</div>

