- today = Time.now
%div
  - if @patron
    %h3 My Classes
  - else
    %h3 All Classes
    - if @admin
      %h4= link_to('Export Courses to CSV', export_courses_path(:format => :csv))
      
  %p To submit a new class, choose a Library/Archive:
  = form_tag new_course_path, :method => :get do
    .row
      = select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :class => 'input select form-control', :prompt => "Not Sure - Help me Choose"
      = submit_tag "Go", :class => 'btn btn-primary'
      
  - unless @courses.empty?  
    %table#course-table-current.table.table-striped.table-condensed.tablesorter
      %thead
        %tr
          %th Name
          %th Submission Date
          %th Class Date(s)
          %th Repository
          - if @admin
            %th Status
            %th Requester
            %th Actions
          %th.hidden Search fodder
      %tbody
        - @courses.each do |course|
          %tr{ :class => (course.last_date.nil? || (course.last_date > today)) ? 'upcoming' : 'past' }
            %td= link_to(course.title, course )
            %td= course.created_at.strftime('%m/%d/%Y')
            = render :partial => '/shared/course_sections_td', :locals => {:course => course }
            / <td><haml:loud> course.sections.first.try(:actual_date).try(:strftime, &amp;#39;%m/%d/%Y %I:%M %P&amp;#39;) unless course.sections.first.try(:actual_date).nil? </haml:loud></td>
            %td= course.repo_name
            - if @admin
              %td= full_status(course)
              %td= course.contact_last_name
              %td
                = render :partial => 'shared/course_actions', :locals => { :course => course }
            %td.hidden= searchable_fields(course)
      %br/
      = render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "course-table-current" }
      %br/
      %br/
  - else
    None yet.