<% if current_user.try(:patron?) %>
<div>
  <h3>My Classes</h3>

	To submit a new class, choose a Library/Archive:
	  <%= form_tag new_course_path, :method => :get do %>
	  <div class="row">
	    <%= select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :class => 'input select form-control', :prompt => "Not Sure - Help me Choose" %>
	    <%= submit_tag "Go", :class => 'btn btn-primary' %>
	  </div>
	  <% end %>

	<h4>Current Classes</h4>
  <% unless @courses_mine_current.empty? %>
    <table id="course-table-current" class="table table-striped table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Class Date(s)</th>
		<th>Repository</th>
		<th>Status</th>
		<th>Requester</th>
    <th class="hidden">Search fodder</th>
	  </tr>
	</thead>
	<tbody>
	    <% @courses_mine_current.each do |course| %>
	    <tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td class="section-times">
		    <% unless course.sections.first.try(:actual_date).nil? %>
		      <ul class="list-unstyled"> 
		        <% course.sections.each do |s| %>
		          <li class="<%= (s.try(:actual_date) > DateTime.now) ? 'future' : 'past' %>"><%= s.try(:actual_date).try(:strftime, '%m/%d/%Y %I:%M %P') %></li>
		        <% end %>
		      </ul>
		    <% end %>
		  </td>
<!--		  <td><%= course.sections.first.try(:actual_date).try(:strftime, '%m/%d/%Y %I:%M %P') unless course.sections.first.try(:actual_date).nil? %></td> -->
		  <td><%= course.repository.nil? ? "Not Assigned" : course.repository.name %></td>
		  <td><%= course.status %></td>
      <td><%= course.contact_last_name %></td>
      <td class="hidden"><%= searchable_fields(course) %></td>
	    </tr>
	    <% end %>
	</tbody>
	</table>
	<br />
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "course-table-current" } %>
	<br />
	<br />
  <% else %>
	None yet.
  <% end %>

</div>

<div>
  <h4>Past Classes</h4>
  <% unless @courses_mine_past.empty? %>
    <table id="course-table-past" class="table table-striped table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Class Date</th>
		<th>Repository</th>
		<th>Status</th>
		<th>Requester</th>
    <th class="hidden">Search fodder</th>
	  </tr>
	</thead>
	<tbody>
	    <% @courses_mine_past.each do |course| %>
	    <tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.sections.first.try(:actual_date).try(:strftime, '%m/%d/%Y %I:%M %P') unless course.sections.first.try(:actual_date).nil? %></td>
		  <td><%= course.repository.nil? ? "Not Assigned" : course.repository.name %></td>
		  <td><%= course.status %></td>
      <td><%= course.contact_last_name %></td>
      <td class="hidden"><%= searchable_fields(course) %></td>
	    </tr>
	    <% end %>
	</tbody>
	</table>
	<br />
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "course-table-past" } %>
	<br />
	<br />
  <% else %>
	None yet.
  <% end %>
</div>


<% else %>
<div>
  <h3>All Classes</h3>
  <% if current_user.try(:admin?) || current_user.try(:superadmin?) %>
  <h4><%= link_to('Export Courses to CSV', export_courses_path(:format => :csv)) %></h4>
  <% end %>
  <% unless @courses_all.empty? %>
    <table id="course-table-all" class="table table-striped table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Submission Date</th>
		<th>Class Date</th>
		<th>Repository</th>
		<th>Status</th>
		<th>Requester</th>
		<th>Actions</th>
    <th class="hidden">Search fodder</th>
	  </tr>
	</thead>
	<tbody>
	    <% @courses_all.each do |course| %>
	    <tr>
	  	  <td><%= link_to(course.title, course ) %></td>
		  <td><%= course.created_at.strftime('%m/%d/%Y') %></td>
		  <td><%= course.sections.first.try(:actual_date).try(:strftime, '%m/%d/%Y %I:%M %P') unless course.sections.first.try(:actual_date).nil? %></td>
		  <td><%= course.repository.nil? ? "Not Assigned" : course.repository.name %></td>
		  <td><%= course.status %></td>
      <td><%= course.contact_last_name %></td>
		  <td><%= link_to('Edit', edit_course_path(course), :class => "action-edit") %>
	      <% if current_user.try(:admin?) || current_user.try(:superadmin?) %>
	   		 | <%= link_to('Delete', course_path(course), :confirm => "Are you sure?", :method => :delete) %>
	  	  <% end %>
		  </td>
      <td class="hidden"><%= searchable_fields(course) %></td>
	    </tr>
	    <% end %>
	</tbody>
	</table>
    <br />
    <%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "course-table-all" } %>
	<br />
	<br />

  <% else %>
	None yet.
  <% end %>
  <br /><br />
  To submit a new class, choose a Library/Archive:
  <%= form_tag new_course_path, :method => :get do %>
  <p>
    <%= select_tag :repository, options_from_collection_for_select(@repositories, "id", "name"), :prompt => "Not Sure - Help me Choose" %>
    <%= submit_tag "Go" %>
  </p>
  <% end %>
</div>
<% end %>
