<h3><%= @course.title %></h3>
<br />
<div id="welcome-left">
<% if (current_user.try(:patron?) && @course.sections.select {|s| s.actual_date}.blank?) || (current_user.try(:staff?) || current_user.try(:admin?) || current_user.try(:superadmin?)) %>
<p><%= button_to('Edit Class Info', edit_course_path(@course), :class => "action-edit", :method => :get) %></p>
<% end %>

	<h4>Course Information</h4>
	Library/Archive: <span id="repository"><%= @course.repository.nil? ? "Not Sure - Help me Choose" : @course.repository.name %></span> <br />
	Title: <span id="title"><%= @course.title unless @course.title.nil? %></span> <br />
	Subject: <span id="subject"><%= @course.subject unless @course.subject.nil? %></span> <br />
	Course Number: <span id="class"><%= @course.course_number unless @course.course_number.nil? %></span> <br />
	Affiliation: <span id="affiliation"><%= @course.affiliation unless @course.affiliation.nil? %></span> <br />
	Number of Students: <span id="studentNo"><%= @course.number_of_students unless @course.number_of_students.nil? %></span> <br />
	Syllabus:
	<%  if @course.file.blank? && @course.external_syllabus.nil? %>
	  None
	<% else %>
	  <%= link_to "Syllabus", @course.file_url unless @course.file.blank? %>
	  <%  unless @course.external_syllabus.nil? %>
	  <br />
	    <%= link_to @course.external_syllabus, @course.external_syllabus, :target => "blank" %>
	  <% end %>
	<% end %>
	<br />
	Goal for Class Session: <%= @course.goal unless @course.goal.nil? %><br />

	<h4>Requester Information</h4>
	Primary Contact Username:  <span id="requestorUsername"><%= @course.contact_username unless @course.contact_username.nil? %></span> <br />
	Primary Contact Name:  <span id="patronContact"><%= @course.contact_first_name unless @course.contact_first_name.nil? %> <%= @course.contact_last_name unless @course.contact_last_name.nil? %></span> <br />
	Primary Contact Email: <%= @course.contact_email unless @course.contact_email.nil? %> <br />
	Primary Contact Phone: <%= @course.contact_phone unless @course.contact_phone.nil? %> <br />

	<h4>Staff Involvement</h4>
	Primary Library/Archive Contact:
	<% unless @course.primary_contact.nil? %>
	   <%= mail_to @course.primary_contact.email, "#{@course.primary_contact.full_name}" %>
	<% else %>
	  None
	<% end %>
	<br />
	Staff Involvement: <br />
	<ul>
	<% @course.staff_involvements.each do |si| %>
	  <li><%= si.involvement_text %></li>
	<% end %>
	</ul>
	<%= @course.staff_involvement unless @course.staff_involvement.nil? || @course.staff_involvement.blank? %> <br />

	<h4>Pre-Class Appointment</h4>
	<% if !@course.pre_class_appt.nil? %>
	  Pre-Class Appt: <%= @course.pre_class_appt.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt.nil? %> <br />
	<% elsif !@course.pre_class_appt_choice_1.nil? || !@course.pre_class_appt_choice_2.nil? || !@course.pre_class_appt_choice_3.nil? %>
	  Choice 1: <%= @course.pre_class_appt_choice_1.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt_choice_1.nil? %> <br />
	  Choice 2: <%= @course.pre_class_appt_choice_2.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt_choice_2.nil? %> <br />
	  Choice 3: <%= @course.pre_class_appt_choice_3.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt_choice_3.nil? %> <br />
	<% else %>
	  To be scheduled, if required.
	<% end %>


	<h4>Scheduling</h4>
	Number of Sessions: <%= @course.sessions.count %> <br />

	<h4>Date/Time of Class</h4>
	<% if !@course.sections.map(&:actual_date).reject(&:nil?).blank? ||
        !@course.sections.map(&:requested_dates).reject(&:nil?).blank? %>
    <% aeon_timeframe_emitted = nil # Has the first timeframe been emitted for Aeon's sake?  %>
    <% @course.sessions.each.with_index(1) do |sesh, i| %>
      <h5>Session <%= i %></h5>
      <h6>Dates/Times</h6>
      <% sesh.each do |sect| %>
        <% if sect.actual_date %>
          <%== aeon_timeframe_emitted ? '' : '<span id="timeframe">' %><%= sect.try(:actual_date).try(:strftime, '%m/%d/%Y %l:%M %P') %><%== aeon_timeframe_emitted ? '' : '</span>' %><br />
          <% aeon_timeframe_emitted = true %>
        <% elsif sect.requested_dates %>
          Requested Times: <%== '<ul><li>' + sect.requested_dates.map {|rd| rd.strftime('%m/%d/%Y %I:%M %P') }.join("</li><li>") + '</li></ul>' %>
        <% end %>
      <% end %>
	  <% end %>
	<% else %>
	  No class dates selected.
	<% end %>
	<br />
	Class Duration: <span id="duration"><%= @course.duration unless @course.duration.nil? %></span> hour(s) <br />
	Room: <span id="room"><%= @course.room.name unless @course.room.nil? %></span> <br />
	Comments: <%= @course.comments unless @course.comments.nil? %> <br />
</div>
<div id="welcome-right">
  <% if current_user.try(:staff?) || current_user.try(:admin?) || current_user.try(:superadmin?) %>
	  <h4>Admin Actions</h4>
	  Status: <%= @course.status %> <br />
		Primary Library/Archive Contact:
		<% unless @course.primary_contact.nil? %>
		  <span id="staffContact"><%= @course.primary_contact.first_name %> <%= @course.primary_contact.last_name unless @course.contact_last_name.nil? %></span> - <%= mail_to @course.primary_contact.email, "Send Email" %>
		<% else %>
		  None
		<% end %>
		<br />
		Other Staff Assigned:
	    <% @course.users.each do |user| %>
		  <%= mail_to user.email, "#{user.full_name}" %>,
	    <% end %>
		<h4>Assessments</h4>
		<p>After your class we may send you an assessment form to learn about your experience and improve our service.</p>
		<p>If you would like to submit an additional assessment, please <%= link_to "click here", new_assessment_path(:course_id => @course.id) %>.</p>
		  <% @course.assessments.each do |assessment| %>
		    <%= link_to "View Assessment", assessment_path(assessment) %><br />
		  <% end %>

		<h4>Notes</h4>
  	    <%= render :partial => 'notes/all_notes', :locals => {:notes => @notes } %>
  		<%= render :partial => 'notes/staff_only_notes', :locals => {:notes => @staff_only_notes } %>

		<%= render :partial => 'shared/forms/note', :locals => {:note => @note, :course => @course } %>

	  <div class="yellow-box">
		<h4>When class is complete, make selection below to close class:</h4>
	  <%= semantic_form_for(@course, :html => {:multipart => true}) do |f| %>
	  	<%= f.inputs do %>
        <%= f.input :status, :as => :hidden, :value => "Closed" %>
		    <%= check_box_tag :send_assessment_email %> Close class and send assessment email to requester<br /><br />
		    <%= check_box_tag :no_assessment_email %> Close class and do NOT send assessment email to requester<br /><br />
		  <% end %>
	  	<%= f.actions do %>
	  	  <%= f.action :submit, :as => :button, :label => 'Update Request ' %>
	  	<% end %>
	  <% end %>
	  </div>
	<% elsif current_user.try(:patron?)%>
  	  <h4>Additional Actions</h4>
  		Status: <%= @course.status %> <br />
	  <h4>Assessments</h4>
	    <p>After your class we may send you an assessment form to learn about your experience and improve our service.</p>
	    <p>If you would like to submit an additional assessment, please <%= link_to "click here", new_assessment_path(:course_id => @course.id) %>.</p>
	    <% @course.assessments.each do |assessment| %>
	      <%= link_to "View Assessment", assessment_path(assessment) %><br />
	    <% end %>

		<h4>Notes</h4>
	    <%= render :partial => 'notes/all_notes', :locals => {:notes => @notes } %>

	    <%= render :partial => 'shared/forms/note', :locals => {:note => @note, :course => @course } %>
    <% end %>
</div>
