<% content_for :header do %><%= @course.title %><% end %>

<div>
	
	Title: <%= @course.title unless @course.title.nil? %> <br />
	Subject: <%= @course.subject unless @course.subject.nil? %> <br />
	Number: <%= @course.course_number unless @course.course_number.nil? %> <br />
	Repository: <%= @course.repository.name unless @course.repository.nil? %> <br />
	Affiliation: Title: <%= @course.affiliation unless @course.affiliation.nil? %> <br />
	Primary Contact: <%= @course.contact_name unless @course.contact_name.nil? %> <br />
	Primary Contact Email: <%= @course.contact_email unless @course.contact_email.nil? %> <br />
	Primary Contact Phone: <%= @course.contact_phone unless @course.contact_phone.nil? %> <br />
	Room: <%= @course.room.name unless @course.room.nil? %> <br />
	Pre-Class Appt: <%= @course.pre_class_appt unless @course.pre_class_appt.nil? %> <br />
	Staff Involvement: <%= @course.staff_involvement unless @course.staff_involvement.nil? %> <br />
	Timeframe: <%= @course.timeframe unless @course.timeframe.nil? %> <br />
	<%  unless @course.file.blank? %>
	  File: <%= link_to "Syllabus", @course.file_url %> <br />
	  <% end %>
    <% if current_user.try(:admin?) %>
      Status: <%= @course.status %> <br />
    <% end %>
</div>
