<%#
  NOTE: spans with ids on this page, with the exception of span#headcount and span#avgHeadcount,
    are used by Aeon to pull information out of the CRT.

  span#headcount and span#avgHeadcount are there for potential future use by Aeon

  DO NOT CHANGE THEM without also changing the Aeon plugin that relies on them.
%>
<h3><%= @course.title %></h3>
<br />
<div id="welcome-left">
<% if current_user.try(:can_schedule?) %>
<p><%= button_to('Edit Class Info', edit_course_path(@course), :class => "action-edit", :method => :get) %></p>
<% end %>

	<h4>Course Information</h4>
  <ul class="summary-info">
	  <li><span class="summary-label">Library/Archive:</span> <span id="repository"><%= @course.repository.nil? ? "Not Sure - Help me Choose" : @course.repository.name %></span></li>
	  <li><span class="summary-label">Title:</span> <span id="title"><%= @course.title unless @course.title.nil? %></span></li>
	  <span class="summary-label">Subject:</span> <span id="subject"><%= @course.subject unless @course.subject.nil? %></span> <br>
	  <li><span class="summary-label">Course Number:</span> <span id="class"><%= @course.course_number unless @course.course_number.nil? %></span></li>
	  <li><span class="summary-label">Affiliation:</span> <span id="affiliation"><%= @course.affiliation unless @course.affiliation.nil? %></span></li>
	  <li><span class="summary-label">Number of Students:</span> <span id="studentNo"><%= @course.number_of_students unless @course.number_of_students.nil? %></span></li>
    <li><span class="summary-label">Actual Attendance (So far):</span> <span id="headcount"><%= @course.headcount || 'None recorded' %></span</li>
    <li><span class="summary-label">Average Attendance per section:</span> <span id="avgHeadcount"><%= @course.avg_headcount || 'None recorded' %></span></li>
	  <li><span class="summary-label">Syllabus:</span>
	<%  if @course.file.blank? && @course.external_syllabus.nil? %>
	  None
	<% else %>
	  <%= link_to "Syllabus", @course.file_url unless @course.file.blank? %>
	  <%  unless @course.external_syllabus.nil? %>
	  </li>
	    <%= link_to @course.external_syllabus, @course.external_syllabus, :target => "blank" %>
	  <% end %>
	<% end %>
	  </li>
    <li><span class="summary-label">Goal for Class Visit:</span> <%= @course.goal unless @course.goal.nil? %></li>
  </ul>

	<h4>Requester Information</h4>
  <ul class="summary-info">
	<li><span class="summary-label">Primary Contact Username:</span>  <span id="requestorUsername"><%= @course.contact_username unless @course.contact_username.nil? %></span></li>
	<li><span class="summary-label">Primary Contact Name:</span>  <span id="patronContact"><%= @course.contact_first_name unless @course.contact_first_name.nil? %> <%= @course.contact_last_name unless @course.contact_last_name.nil? %></span></li>
  <li><span class="summary-label">Primary Contact Email:</span> <%= @course.contact_email unless @course.contact_email.nil? %></li>
  <li><span class="summary-label">Primary Contact Phone:</span> <%= @course.contact_phone unless @course.contact_phone.nil? %></li>
  </ul>
	<h4>Staff Services</h4>
  <ul class="summary-info">
	  <li><span class="summary-label">Primary Library/Archive Contact:</span>
	    <% unless @course.primary_contact.nil? %>
	      <%= mail_to @course.primary_contact.email, "#{@course.primary_contact.full_name}" %>
	    <% else %>
	      None
	    <% end %>
	  </li>
	  <li><span class="summary-label">Staff Services:</span>
	    <ul>
	      <% @course.staff_involvements.each do |si| %>
	        <li><%= si.involvement_text %></li>
	      <% end %>
        <% unless @course.staff_involvement.blank? %>
          <li><%= @course.staff_involvement %></li>
        <% end %>
	    </ul>
  </ul>

	<h4>Pre-Class Appointment</h4>
  <ul class="summary-info">
	  <% if !@course.pre_class_appt.nil? %>
	    <li><span class="summary-label">Pre-Class Appt:</span> <%= @course.pre_class_appt.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt.nil? %></li>
	  <% elsif !@course.pre_class_appt_choice_1.nil? || !@course.pre_class_appt_choice_2.nil? || !@course.pre_class_appt_choice_3.nil? %>
	    <li><span class="summary-label">Choice 1:</span> <%= @course.pre_class_appt_choice_1.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt_choice_1.nil? %></li>
	    <li><span class="summary-label">Choice 2:</span> <%= @course.pre_class_appt_choice_2.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt_choice_2.nil? %></li>
	    <li><span class="summary-label">Choice 3:</span> <%= @course.pre_class_appt_choice_3.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt_choice_3.nil? %></li>
	<% else %>
	    <li>To be scheduled, if required.</li>
	<% end %>
  </ul>

	<h4>Scheduling</h4>
  <ul class="summary-info">
	  <li><span class="summary-label">Number of Class Visits: <%= @course.sessions.count %></span></li>
  </ul>

	<h4>Date/Time of Class</h4>
	<% if !@course.sections.map(&:actual_date).reject(&:nil?).blank? ||
        !@course.sections.map(&:requested_dates).reject(&:nil?).blank? %>
    <div>
      <% aeon_timeframe_emitted = nil # Has the first timeframe been emitted for Aeon's sake?  %>
      <% aeon_found_timeframe = nil # if we find a first timeframe, we need to mark the room %>
      <% @course.sessions.each.with_index(1) do |sesh, i| %>
        <h5>Session <%= i %></h5>
        <h6>Dates/Times</h6>
        <ul class="summary-info">
          <% sesh.each do |sect| %>
            <% if sect.actual_date %>
              <li><span class="summary-label">Actual Date:</span> <%= sect.try(:actual_date).try(:in_time_zone, Rails.configuration.time_zone).try(:strftime, DATETIME_AT_FORMAT) %> 
		<% if  !aeon_timeframe_emitted %>
		<span id="timeframe" style="display:none"><%= sect.try(:actual_date).try(:utc).try(:strftime,DATETIME_AEON_FORMAT) %></span>
		<% aeon_found_timeframe = true # so we know to mark up the room %>
		<% end %>

	      </li>
	      <% aeon_timeframe_emitted = true %>
            <% elsif sect.requested_dates %>
              <li><span class="summary-label">Requested Times: </span> <%== '<ul><li>' + sect.requested_dates.map {|rd| display_with_tz rd }.join("</li><li>") + '</li></ul>' %></li>
            <% end %>
            <li><span class="summary-label">Headcount:</span> <%= sect.headcount ? sect.headcount : "Not Recorded" %></li>
            <li><span class="summary-label">Room:</span> 
	      <% if aeon_found_timeframe %><span id="room"><% end %><%= sect.room ? sect.room.name : 'No room assigned' %> <% if aeon_found_timeframe %></span><%  aeon_found_timeframe = nil; end %></li>
          <% end %>
        </ul>
	    <% end %>
    </div>
	<% else %>
	  <div>No class dates selected.</div>
	<% end %>

  <ul class="summary-info">
	  <li><span class="summary-label">Class Duration:</span> <span id="duration"><%= @course.duration unless @course.duration.nil? %></span> hour(s)</li>
	  <li><span class="summary-label">Comments:</span> <%= @course.comments unless @course.comments.nil? %></li>
  </ul>
</div>

<div id="welcome-right">
  <% if current_user.try(:staff?) || current_user.try(:admin?) || current_user.try(:superadmin?) %>
	  <h4>Admin Actions</h4>
    <ul class="summary-info">
	    <li><span class="summary-label">Status:</span> <%= @course.status %></li>
		  <li><span class="summary-label">Primary Library/Archive Contact:</span>
		    <% unless @course.primary_contact.nil? %>
		      <span id="staffContact"><%= @course.primary_contact.first_name %> <%= @course.primary_contact.last_name unless @course.contact_last_name.nil? %></span> - <%= mail_to @course.primary_contact.email, "Send Email" %>
		    <% else %>
		      None
		    <% end %>
      </li>
		</ul>

		<h4>Other Staff Assigned:</h4>
    <ul class="summary-info">
      <% unless @course.users.blank? %>
        <% @course.users.each do |user| %>
		      <li><%= mail_to user.email, "#{user.full_name}" %></li>
	      <% end %>
      <% else %>
        <li>None</li>
      <% end %>
    </ul>
		<h4>Assessments</h4>
		<p>After your class we may send you an assessment form to learn about your experience and improve our service.</p>
		<p>If you would like to submit an additional assessment, please <%= link_to "click here", new_assessment_path(:course_id => @course.id) %>.</p>
		<% @course.assessments.each do |assessment| %>
		  <%= link_to "View Assessment", assessment_path(assessment) %><br />
		<% end %>

		<h4>Notes</h4>
  	    <%= render :partial => 'notes/all_notes', :locals => {:notes => @notes } %>
  		<%= render :partial => 'notes/staff_only_notes', :locals => {:notes => @staff_only_notes } %>

		<%= render :partial => 'shared/forms/note', :locals => {:note => @note, :course => @course } %>
    <% unless @course.status == "Closed" %>
	    <div class="yellow-box">
		    <p>When class is complete, click box to send class assessment, if desired. Use button below to close class.</p>
	      <%= semantic_form_for(@course, :html => {:multipart => true}) do |f| %>
          <div class="panel panel-default" id="headcounts">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#headcounts" href="#headcounts-entry">Headcounts</a></h4></div>
            <div id="headcounts-entry" class="panel-collapse collapse out">
              <div class="panel-body">
                <%= f.semantic_fields_for :sections do |section| %>
                  <% if section.object.try(:actual_date) %>
                    <%= section.inputs :headcount, :name => "Visit #{section.object.session}: #{display_with_tz(section.object.actual_date)}" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

	  	    <%= f.inputs do %>
            <%= f.input :status, :as => :hidden, :value => "Closed" %>
		        <%= check_box_tag :send_assessment_email %> Send assessment email to requester<br /><br />
		      <% end %>
	  	    <%= f.actions do %>
	  	      <%= f.action :submit, :as => :button, :button_html => {:class => 'btn btn-default'}, :label => 'Close Course' %>
	  	    <% end %>
	      <% end %>
	    </div>
    <% end %>
	<% elsif current_user.try(:patron?)%>
  	  <h4>Additional Actions</h4>
  		Status: <%= @course.status %> <br />
	  <h4>Assessments</h4>
	    <p>After your class we may send you an assessment form to learn about your experience and improve our service.</p>
	    <p>If you would like to submit an additional assessment, please <%= link_to "click here", new_assessment_path(:course_id => @course.id) %>.</p>
	    <% @course.assessments.each do |assessment| %>
	      <%= link_to "View Assessment", assessment_path(assessment) %><br />
	    <% end %>

		<h4>Notes</h4>
	    <%= render :partial => 'notes/all_notes', :locals => {:notes => @notes } %>

	    <%= render :partial => 'shared/forms/note', :locals => {:note => @note, :course => @course } %>
    <% end %>
</div>
