<h3><%= @course.title %></h3>
<br />
<div id="welcome-left">
<% if (current_user.try(:patron?) && @course.timeframe.nil?) || (current_user.try(:staff?) || current_user.try(:admin?) || current_user.try(:superadmin?)) %>
<p><%= button_to('Edit Class Info', edit_course_path(@course), :class => "action-edit", :method => :get) %></p>
<% end %>

	<h4>Course Information</h4>
	Library/Archive: <span id="repository"><%= @course.repository.nil? ? "Not Sure - Help me Choose" : @course.repository.name %></span> <br />
	Title: <span id="title"><%= @course.title unless @course.title.nil? %></span> <br />
	Subject: <span id="subject"><%= @course.subject unless @course.subject.nil? %></span> <br />
	Class Number: <span id="class"><%= @course.course_number unless @course.course_number.nil? %></span> <br />
	Affiliation: <span id="affiliation"><%= @course.affiliation unless @course.affiliation.nil? %></span> <br />
	Number of Students: <span id="studentNo"><%= @course.number_of_students unless @course.number_of_students.nil? %></span> <br />
	Syllabus: 
	<%  if @course.file.blank? && @course.external_syllabus.nil? %>
	  None
	<% else %>
	  <%= link_to "Syllabus", @course.file_url unless @course.file.blank? %>
	  <%  unless @course.external_syllabus.nil? %>
	  <br />
	    <%= link_to @course.external_syllabus, @course.external_syllabus, :target => "blank" %>
	  <% end %>
	<% end %>
	<br />
	
	<h4>Requester Information</h4>
	Primary Contact Name:  <%= @course.contact_first_name unless @course.contact_first_name.nil? %> <%= @course.contact_last_name unless @course.contact_last_name.nil? %> <br />
	Primary Contact Email: <%= @course.contact_email unless @course.contact_email.nil? %> <br />
	Primary Contact Phone: <%= @course.contact_phone unless @course.contact_phone.nil? %> <br />
	
	<h4>Staff Involvement</h4>
	Primary Library/Archive Contact: 
	<% unless @course.primary_contact.nil? %>
	   <%= mail_to @course.primary_contact.email, "#{@course.primary_contact.first_name} #{@course.primary_contact.last_name}" %>
	<% else %>
	  None
	<% end %>
	<br />
	Staff Involvement: <br />
	<ul>
	<% @course.staff_involvements.each do |si| %>
	  <li><%= si.involvement_text %></li>
	<% end %>
	</ul>
	<%= @course.staff_involvement unless @course.staff_involvement.nil? || @course.staff_involvement.blank? %> <br />
	
	<h4>Pre-Class Appointment</h4>
	<% if !@course.pre_class_appt.nil? %>
	  Pre-Class Appt: <%= @course.pre_class_appt.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt.nil? %> <br />
	<% elsif !@course.pre_class_appt_choice_1.nil? || !@course.pre_class_appt_choice_2.nil? || !@course.pre_class_appt_choice_3.nil? %>
	  Choice 1: <%= @course.pre_class_appt_choice_1.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt_choice_1.nil? %> <br />
	  Choice 2: <%= @course.pre_class_appt_choice_2.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt_choice_2.nil? %> <br />
	  Choice 3: <%= @course.pre_class_appt_choice_3.strftime('%m/%d/%Y %I:%M %P') unless @course.pre_class_appt_choice_3.nil? %> <br />
	<% else %>
	  To be scheduled, if required.
	<% end %>
	
	
	<h4>Scheduling</h4>
	Class Frequency: <%= @course.course_sessions unless @course.course_sessions.nil? %> <br />
	Number of Sessions: <%= @course.session_count unless @course.session_count.nil? %> <br />
	
	<h4>Date/Time of Class</h4>
	<% if !@course.timeframe.nil? %>
	  <h5>Approved Date/Time</h5>
	  <%= !@course.course_sessions.nil? && @course.course_sessions != "Single Session" ? "Session 1 Date/Time:" : "Class Date/Time 1:" %> <span id="timeframe"><%= @course.timeframe.strftime('%m/%d/%Y %I:%M %P') unless @course.timeframe.nil? %></span> <br />
	  <%= !@course.course_sessions.nil? && @course.course_sessions != "Single Session" ? "Session 2 Date/Time:" : "Class Date/Time 2:" %> <%= @course.timeframe_2.strftime('%m/%d/%Y %I:%M %P') unless @course.timeframe_2.nil? %> <br />
	  <%= !@course.course_sessions.nil? && @course.course_sessions != "Single Session" ? "Session 3 Date/Time:" : "Class Date/Time 3:" %> <%= @course.timeframe_3.strftime('%m/%d/%Y %I:%M %P') unless @course.timeframe_3.nil? %> <br />
	  <% unless @course.timeframe_4.nil? %>
	    <%= !@course.course_sessions.nil? && @course.course_sessions != "Single Session" ? "Session 4 Date/Time:" : "Class Date/Time 4:" %> <%= @course.timeframe_4.strftime('%m/%d/%Y %I:%M %P') unless @course.timeframe_4.nil? %> <br />
	  <% end %>
	<% elsif !@course.time_choice_1.nil? || !@course.time_choice_2.nil? || !@course.time_choice_3.nil? || !@course.time_choice_4.nil? %>
	  <h5>Your Choices</h5>
	  <%= !@course.course_sessions.nil? && @course.course_sessions != "Single Session" ? "Session 1:" : "Choice 1:" %> <%= @course.time_choice_1.strftime('%m/%d/%Y %I:%M %P') unless @course.time_choice_1.nil? %> <br />
	  <%= !@course.course_sessions.nil? && @course.course_sessions != "Single Session" ? "Session 2:" : "Choice 2:" %> <%= @course.time_choice_2.strftime('%m/%d/%Y %I:%M %P') unless @course.time_choice_2.nil? %> <br />
	  <%= !@course.course_sessions.nil? && @course.course_sessions != "Single Session" ? "Session 3:" : "Choice 3:" %> <%= @course.time_choice_3.strftime('%m/%d/%Y %I:%M %P') unless @course.time_choice_3.nil? %> <br />
	  <% unless @course.time_choice_4.nil? %>
	    <%= !@course.course_sessions.nil? && @course.course_sessions != "Single Session" ? "Session 4:" : "Choice 4:" %>  <%= @course.time_choice_4.strftime('%m/%d/%Y %I:%M %P') unless @course.time_choice_4.nil? %> <br />
	  <% end %>
	<% else %>
	  No class dates selected.
	<% end %>
	<br />
	Class Duration: <span id="duration"><%= @course.duration unless @course.duration.nil? %></span> hour(s) <br />
	Room: <span id="room"><%= @course.room.name unless @course.room.nil? %></span> <br />
	Comments: <%= @course.comments unless @course.comments.nil? %> <br />
</div>
<div id="welcome-right">	
    <% if current_user.try(:staff?) || current_user.try(:admin?) || current_user.try(:superadmin?) %>
	  <h4>Admin Actions</h4>
	  	Status: <%= @course.status %> <br />
		Primary Library/Archive Contact: 
		<% unless @course.primary_contact.nil? %>
		   <span id="staffContact"><%= @course.primary_contact.first_name %> <%= @course.primary_contact.last_name unless @course.contact_last_name.nil? %></span> - <%= mail_to @course.primary_contact.email, "Send Email" %>
		<% else %>
		  None
		<% end %>
		<br />
		Other Staff Assigned:
	    <% @course.users.each do |user| %>
		  <%= mail_to user.email, "#{user.first_name} #{user.last_name}" %>, 
	    <% end %>
		<h4>Assessments</h4>
		<p>After your class we may send you an assessment form to learn about your experience and improve our service.</p>
		<p>If you would like to submit an additional assessment, please <%= link_to "click here", new_assessment_path(:course_id => @course.id) %>.</p>
		  <% @course.assessments.each do |assessment| %>
		    <%= link_to "View Assessment", assessment_path(assessment) %><br />
		  <% end %>
		  
		<h4>Notes</h4>  
  	    <%= render :partial => 'notes/all_notes', :locals => {:notes => @notes } %>
  		<%= render :partial => 'notes/staff_only_notes', :locals => {:notes => @staff_only_notes } %>
		
		<%= render :partial => 'shared/forms/note', :locals => {:note => @note, :course => @course } %>
	<% elsif current_user.try(:patron?)%>	
  	  <h4>Additional Actions</h4>
  		Status: <%= @course.status %> <br />
	  <h4>Assessments</h4>
	    <p>After your class we may send you an assessment form to learn about your experience and improve our service.</p>
	    <p>If you would like to submit an additional assessment, please <%= link_to "click here", new_assessment_path(:course_id => @course.id) %>.</p>
	    <% @course.assessments.each do |assessment| %>
	      <%= link_to "View Assessment", assessment_path(assessment) %><br />
	    <% end %>
		
		<h4>Notes</h4>
	    <%= render :partial => 'notes/all_notes', :locals => {:notes => @notes } %>
	
	    <%= render :partial => 'shared/forms/note', :locals => {:note => @note, :course => @course } %>
    <% end %>
</div>

