%h3
  Summary for #{@course.title}
%div
  %p Thank you for submitting your request.
  %p A staff member will be in touch within 3 business days to schedule a pre-class meeting with you and to finalize arrangements for your class.
  - unless @course.repository.nil?
    %p
      = link_to "Click here", repository_url(@course.repository.id), :target => "blank"
      for class policies to review or share with students.
%div
  %h4 Class Information
  Library/Archive: #{@course.repository.nil? ? "Not Sure - Help me Choose" : @course.repository.name}
  %br/
  Title: #{handle_empty(@course.title)}
  %br/
  Subject: #{handle_empty(@course.subject)}
  %br/
  Course Number: #{handle_empty(@course.course_number)}
  %br/
  Affiliation: #{handle_empty(@course.affiliation)}
  %br/
  Number of Students: #{handle_empty(@course.number_of_students)}
  %br/
  Syllabus:
  - if @course.syllabus.blank? && @course.external_syllabus.nil?
    None
  - else
    = link_to "Syllabus", @course.syllabus_url unless @course.syllabus.blank?
    - unless @course.external_syllabus.nil?
      %br/
      = link_to @course.external_syllabus, @course.external_syllabus, :target => "blank"
  %br/
  %h4 Requester Information
  Primary Contact Name: #{handle_empty(@course.contact_first_name)} #{handle_empty(@course.contact_last_name)}
  %br/
  Primary Contact Email: #{handle_empty(@course.contact_email)}
  %br/
  Primary Contact Phone: #{handle_empty(@course.contact_phone)}
  %br/
  %h5 Additional Contacts
  %ul.summary-info
    - @course.additional_patrons.each do |ap|
      %li= "#{ap.first_name} #{ap.last_name}, #{ap.email}, #{ap.role}"
  %h4 Staff Involvement
  %ul
    - if @course.staff_involvements.blank? && @course.staff_involvement.blank?
      %li None
    - else
      - @course.staff_involvements.each do |si|
        %li= si.involvement_text
      - unless @course.staff_involvement.blank?
        %li= @course.staff_involvement
  - sections = @course.sections.order("session ASC")
  %h4 Scheduling
  - c_sessions = (sections.group_by(&:session).count <= 1 ? "Single Session" : "Multiple Sessions, Same Materials")
  = c_sessions unless c_sessions.nil?
  %br/
  Number of Sessions: #{@course.session_count unless @course.session_count.nil?}
  %br/
  .row
    .col-md-6
      %h4 Date/Time of Class
      - @course.sessions.each do |i, sesh|
        %h5 Session #{i}
        - sort_sections(sesh).each.with_index(1) do |sect, j|
          .well.well-sm
            %h6 Section #{j}
            %ul.summary-info.no-bullet
              - if sect.actual_date
                %li
                  %span.summary-label 
                    Approved Time:
                    = display_with_tz(sect.actual_date)
                    = sect.room ? " in #{sect.room.name}" : ''
              - elsif sect.requested_dates
                %li
                  %span.summary-label Requested Times:
                  = sect.requested_dates.map {|rd| rd.in_time_zone(Rails.configuration.time_zone).strftime("#{DATE_FORMAT} #{TIME_FORMAT}") }.join(', ')

  %br/
  Class Duration: #{pluralize(@course.duration, 'hour') unless @course.duration.nil?}
  %br/
  Comments: #{@course.comments unless @course.comments.nil?}
  %br/
%div{:style => "float: right;"}
  - if current_user.try(:can_schedule?)
    = link_to('Edit', edit_course_path(@course), :class => "action-edit")
  - if current_user.can_admin?
    | #{link_to('Delete', course_path(@course), :confirm => "Are you sure?", :method => :delete)}
