<h3>Summary for <%= @course.title %></h3>

<div>
	<p>Thank you for submitting your request.</p>

	<p>A staff member will be in touch within 3 business days to schedule a pre-class meeting with you and to finalize arrangements for your class.</p>

	<% unless @course.repository.nil? %>
	<p><%= link_to "Click here", repository_url(@course.repository.id), :target => "blank" %> for class policies to review or share with students.</p>
	<% end %>
</div>

<div>
	<h4>Class Information</h4>
	Library/Archive: <%= @course.repository.nil? ? "Not Sure - Help me Choose" : @course.repository.name %> <br />
	Title: <%= @course.title unless @course.title.nil? %> <br />
	Subject: <%= @course.subject unless @course.subject.nil? %> <br />
	Course Number: <%= @course.course_number unless @course.course_number.nil? %> <br />
	Affiliation: <%= @course.affiliation unless @course.affiliation.nil? %> <br />
	Number of Students: <%= @course.number_of_students unless @course.number_of_students.nil? %> <br />
	Syllabus:
	<%  if @course.syllabus.blank? && @course.external_syllabus.nil? %>
	  None
	<% else %>
	  <%= link_to "Syllabus", @course.syllabus_url unless @course.syllabus.blank? %>
	  <%  unless @course.external_syllabus.nil? %>
	    <br />
	    <%= link_to @course.external_syllabus, @course.external_syllabus, :target => "blank" %>
	  <% end %>

	<% end %>
	<br />

	<h4>Requester Information</h4>
	Primary Contact Name: <%= @course.contact_first_name unless @course.contact_last_name.nil? %> <%= @course.contact_last_name unless @course.contact_last_name.nil? %> <br />
	Primary Contact Email: <%= @course.contact_email unless @course.contact_email.nil? %> <br />
	Primary Contact Phone: <%= @course.contact_phone unless @course.contact_phone.nil? %> <br />

	<h4>Staff Involvement</h4>
	<ul>
    <% if @course.staff_involvements.blank? && @course.staff_involvement.blank? %>
      <li>None</li>
    <% else %>
	    <% @course.staff_involvements.each do |si| %>
	      <li><%= si.involvement_text %></li>
	    <% end %>
      <% unless @course.staff_involvement.blank? %>
        <li><%= @course.staff_involvement %></li>
      <% end %>
    <% end %>
	</ul>

  <% sections = @course.sections.order("session ASC") %>
	<h4>Scheduling</h4>
  <% c_sessions = (sections.group_by(&:session).count <= 1 ? "Single Session" : "Multiple Sessions, Same Materials") %>
	<%= c_sessions unless c_sessions.nil? %> <br />
	Number of Sessions: <%= @course.session_count unless @course.session_count.nil? %> <br />

	<h4>Date/Time of Class</h4>
<% if !sections.map(&:actual_date).reject(&:nil?).blank? %>
	<h5>Approved Date/Times</h5>
  <ul>
    <% sections.each do |s| %>
      <li><%= display_with_tz(s.actual_date) %><%= s.room ? " in #{s.room.name}" : '' %></li>
	  <% end %>
  </ul>
<% elsif !sections.map(&:requested_dates).reject(&:nil?).blank?  %>
  <h5>Requested times</h5>
  <ul>
    <% sections.each do |s| %>
      <li><%== "Section #{s.session}: <ul><li>" + (s.requested_dates ? s.requested_dates.map {|d| display_with_tz d}.join('</li><li>') : '') + '</li></ul>' %></li>
    <% end %>
  </ul>
<% end %>
	<br />
	Class Duration: <%= pluralize(@course.duration, 'hour') unless @course.duration.nil? %><br />
	Comments: <%= @course.comments unless @course.comments.nil? %> <br />
</div>

<div style="float: right;">
  <% if current_user.try(:can_schedule?) %>
    <%= link_to('Edit', edit_course_path(@course), :class => "action-edit") %>
  <% end %>
  <% if current_user.can_admin? %>
    | <%= link_to('Delete', course_path(@course), :confirm => "Are you sure?", :method => :delete) %>
  <% end %>
</div>
