<h3>Superadmin Dashboard</h3>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Email Status</h4>
  </div>
  <div class="panel-body">
    <p><button class="toggle-notification-status btn btn-<%= ENV['NOTIFICATIONS_STATUS'] == 'OFF' ? 'warning' : 'danger' %>">Turn notifications <%= ENV['NOTIFICATIONS_STATUS'] == 'OFF' ? 'ON' : 'OFF' %></button></p>
    <p>Send a test email to <%= current_user.email %>. You can send queued using delayed_job or unqueued.</p>
    <p>
      <%= link_to 'Send Queued', admin_send_test_email_path(:queued => true), :class => 'btn btn-warning' %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Send Unqueued', admin_send_test_email_path(:queued => false), :class => 'btn btn-warning' %>
    </p>
    <h5>Mail Queue</h5>
    <% if @delayed_jobs.blank? %>
      <p>There are no jobs in the mail queue.</p>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>Queue</th>
            <th>Attempts</th>
            <th>Handler</th>
            <th>Run At</th>
            <th>Error?</th>
            <th>Failed At</th>
            <th>
          </tr>
        </thead>
        <tbody>
        <% @delayed_jobs.each do |job| %>
          <tr>
            <td><%= job.queue %></td>
            <td><%= job.attempts %></td>
            <td><%= job.handler %></td>
            <td><%= job.run_at %></td>
            <td><%= job.last_error.blank? ? 'No' : 'Yes' %></td>
            <td><%= job.failed_at %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Update Course Stats</h4>
  </div>
  <div class="panel-body">
    <p><%= link_to 'Update', admin_update_stats_path, :class => 'btn btn-warning' %> Recalculates session, section, and attendance counts</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Localization</h4>
  </div>
  <div class="panel-body">
    <p><%= link_to "Go", admin_localize_path, :class => 'btn btn-warning' %> Set local site variables</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Display Harvard Colors</h4>
  </div>
  <div class="panel-body">
    <p><%= link_to "Harvard Colors", admin_harvard_colors_path, :class => 'btn btn-warning' %> View sanctioned Harvard color branding</p>
  </div>
</div>
