<h3>Locations</h3>

<div>
  	<table id="locations-table" class="table table-condensed tablesorter">
	<thead>
	  <tr>
		<th>Name</th>
		<th>Actions</th>
	  </tr>
	</thead> 
	<tbody>
	    <% @locations.each do |location| %>
	    	<tr>
	  	  <td><%= location.name %></td>
		  <td>
	      <% if current_user.try(:admin?) %>
	   		<%= link_to('Edit', edit_location_path(location), :class => "action-edit") %>
  	      <% elsif current_user.try(:superadmin?) %>
  	   		<%= link_to('Edit', edit_location_path(location), :class => "action-edit") %> | <%= link_to('Delete', location_path(location), :confirm => "Are you sure?", :method => :delete) %>	
	  	  <% end %>
		  </td>
	    </tr>
	    <% end %>
	</tbody>	
	</table>
	<br />
	<%= render :partial => '/shared/tablesorter_pager', :locals => {:pager_id => "locations-table" } %>
	<br />
	<br />
  <% if current_user.try(:admin?) || current_user.try(:superadmin?) %>
    <%= link_to("Add New Location", new_location_path ) %>
  <% end %>
</div>
