<!DOCTYPE html>
<html>
<head>
  <title>Class Request Tool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', :media => "all" %>
  <!--[if lt IE 9]>
    <%= stylesheet_link_tag 'iefix', :media => "all" %>
  <![endif] -->
  <!--[if lt IE 10]>
    <%= stylesheet_link_tag 'application_split2', :media => 'all' %>
  <![endif] -->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :header_tags -%>

  <!--[if IE]>
  <script type="text/javascript">
    document.createElement("article");
    document.createElement("nav");
    document.createElement("section");
    document.createElement("header");
    document.createElement("aside");
    document.createElement("figure");
    document.createElement("legend");
    document.createElement("footer");
    </script>
  <![endif] -->
</head>
<body <%= yield :body %>>
	<div id="wrap">
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	  <div class="container">
      <div class="nav navbar-header row"><%= image_tag "harvard_class_request_banner.png", :class => "img-responsive col-xs-12" %>
        <button type="button" class="navbar-toggle col-xs-12" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" style="margin-left: auto;margin-right:auto;"></span>
          <span class="icon-bar" style="margin-left: auto;margin-right:auto;"></span>
          <span class="icon-bar" style="margin-left: auto;margin-right:auto;"></span>
        </button></div>

      <%= render :partial => 'shared/navigation' %>
    </div>
	</nav>
	<div id="main" role="main">
	  <div class="container">
	    <div class="content">
	      <div class="row">
	        <div class="col-md-12">
	          <%= render :partial => 'shared/messages' %>
	          <%= yield %>
	        </div>
	      </div>
	    </div>
	  </div> <!--! end of .container -->
	</div> <!--! end of #main -->
	<div id="push"></div>
  </div> <!--! end of #wrap -->
  <div id="footer">
    <div class="container">
      <%= render :partial => 'shared/footer' %>
    </div>
  </div>
</body>
</html>
