<!DOCTYPE html>
<html>
<head>
  <title>Class Request Tool</title>
  <meta http-equiv="x-ua-compatible" content="IE=EmulateIE8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag  'jquery.tablesorter.pager' %>
  <%= csrf_meta_tags %>
  <%= yield :header_tags -%>
</head>
<body <%= yield :body %>>
  
	<header class="navbar navbar-fixed-top">
	  <nav class="navbar-inner">
	    <div class="container">
		  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>	
	      <%= render :partial => 'shared/navigation' %>
	    </div>
	  </nav>
	</header>
	<div id="wrap">	
	<div id="main" role="main">
	  <div class="container">
	    <div class="content">
	      <div class="row">
	        <div class="span12">
	          <%= render :partial => 'shared/messages' %>
	          <%= yield %>
	        </div>
	      </div>
	    </div>
	  </div> <!--! end of .container -->
	</div> <!--! end of #main -->
	<div id="push"></div>
  </div> <!--! end of #wrap -->	
  <div id="footer">
    <div class="container">
      <%= render :partial => 'shared/footer' %>
    </div>
  </div>	
</body>
</html>
