!!!
%html
  %head
    %title Class Request Tool
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', :media => "all"
    /
      [if lt IE 9]>
      = stylesheet_link_tag 'iefix', :media => 'all'
      <![endif]
    /
      [if lt IE 10]>
      = stylesheet_link_tag 'application_split2_ie.css', :media => 'all'
      <![endif]
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :header_tags
    /
      [if IE]>
      <script type="text/javascript">
      document.createElement("article");
      document.createElement("nav");
      document.createElement("section");
      document.createElement("header");
      document.createElement("aside");
      document.createElement("figure");
      document.createElement("legend");
      document.createElement("footer");
      </script>
      <![endif]
  %body{:class => "c_#{controller.controller_name} a_#{controller.action_name} u_#{current_user ? current_user.user_type : "anon"}"}
    #wrap
      - if current_user && ( current_user.admin? || current_user.superadmin? )
        %div{:class => "notifications-status #{$local_config.notifications_on? ? 'ON' : 'OFF' }"}
          Notifications:
          %b= $local_config.notifications_on? ? 'SENDING NORMALLY' : "TEST MODE - delivering to #{test_mail_recipient}"
      %nav.navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
        = render :partial => 'shared/user'
        .container
          .nav.navbar-header.row
            %p.slogan= $local_config[:slogan]
            %h1.tool-title= $local_config[:tool_name]
            = image_tag(($local_config.attached_image.nil? ? image_url('default_banner.jpg') : $local_config.attached_image.image_url), :class => " banner img-responsive col-xs-12")
            %button.navbar-toggle.col-xs-12{"data-target" => "#main-nav", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar{:style => "margin-left: auto;margin-right:auto;"}
              %span.icon-bar{:style => "margin-left: auto;margin-right:auto;"}
              %span.icon-bar{:style => "margin-left: auto;margin-right:auto;"}
          = render :partial => 'shared/navigation'
      #main{:role => "main"}
        .container
          .content
            .row
              .col-md-12
                = render :partial => 'shared/messages'
                = yield
        / ! end of .container
      / ! end of #main
      #push
    / ! end of #wrap
    #footer
      .container
        = render :partial => 'shared/footer'
